n8n/workflows/LegalFam Message Flow.json
{
  "name": "LegalFam Message Flow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "3e148e01-ea54-4f8d-9179-8a91c2e739f8",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        2352,
        960
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "J5fuQmNyhxq31HfY",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "78b67650-d1a0-42f9-bff8-04d814d77af2",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "position": [
        2304,
        640
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://processing-api:8000/rag-search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  query: $fromAI('query', 'A legal retrieval query. If the first result is invalid, retry once with broader legal synonyms and the canonical category.'),\n  original_message: $('Merge1').item.json.output?.original_message || '',\n  legal_category: $('Merge1').item.json.output?.category || '',\n  canonical_category: $('Merge1').item.json.retrieval?.canonicalCategory || '',\n  canonical_subcategories: $('Merge1').item.json.retrieval?.canonicalSubcategories || [],\n  metadata_hints: $('Merge1').item.json.retrieval?.metadataHints || [],\n  search_terms: $('Merge1').item.json.retrieval?.searchTerms || [],\n  file_search_store_name: $('Merge1').item.json['Search Store']\n} }}",
        "options": {}
      },
      "id": "a537caf7-af68-45a2-a543-4a37f7ef0320",
      "name": "SearchStore",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [
        2672,
        960
      ],
      "typeVersion": 4.3
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Parser Agent').item.json.output.session_id }}"
      },
      "id": "7bcc08e0-3753-45fe-bce9-dc24770be7db",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        3104,
        960
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Mensaje del usuario: \"{{ $json.output.original_message }}\"\nCategoria: \"{{ $json.output.category }}\"\nCategoria canonica: \"{{ $json.retrieval.canonicalCategory }}\"\nSubcategorias canonicas: \"{{ $json.retrieval.canonicalSubcategories.join(', ') }}\"\nMetadata preferida: \"{{ $json.retrieval.metadataHints.join(' ') }}\"\nTerminos de busqueda: \"{{ $json.retrieval.searchTerms.join(', ') }}\"",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Eres un agente RAG legal de Derecho de Familia peruano.\n\nDebes usar siempre la herramienta SearchStore antes de responder.\n\nProceso obligatorio:\n1. Llama SearchStore con una consulta que conserve la pregunta original e incluya categoria canonica, subcategorias, terminos de busqueda y metadata preferida.\n2. Revisa el resultado de SearchStore.\n3. Considera valido el resultado solo si valid=true, answer responde directamente la pregunta del usuario, y citations contiene fuentes relacionadas con la categoria consultada.\n4. Si el primer resultado no es valido, no responde todavia: llama SearchStore una segunda vez con una consulta reformulada, mas amplia, usando sinonimos juridicos, categoria canonica y terminos alternativos.\n5. Despues del segundo intento, devuelve el mejor resultado disponible. Si sigue sin ser valido, explica que no hay suficiente respaldo en el corpus y pide al usuario reformular con mas detalles generales.\n\nContrato de salida obligatorio:\n- Devuelve siempre un objeto con answer y citations.\n- answer debe estar en espanol claro y no debe mencionar detalles tecnicos.\n- citations debe ser exactamente el arreglo de citas validas devuelto por SearchStore, o [] si no hay fuentes utiles.\n- No inventes articulos, enlaces, nombres de documentos ni citas."
        }
      },
      "id": "54a7cbf5-3484-4f9e-8b55-46d2fece87a8",
      "name": "RAG Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2512,
        608
      ],
      "typeVersion": 3,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"MessageObject\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"session_id\": {\n      \"type\": \"string\",\n      \"format\": \"uuid\",\n      \"description\": \"A unique identifier for the current chat session.\"\n    },\n    \"original_message\": {\n      \"type\": \"string\",\n      \"description\": \"The raw input message.\"\n    },\n    \"message\": {\n      \"type\": \"string\",\n      \"description\": \"The processed response message. Required when category is error.\"\n    },\n    \"category\": {\n      \"type\": \"string\",\n      \"description\": \"The classification category.\"\n    }\n  },\n  \"required\": [\n    \"session_id\",\n    \"original_message\",\n    \"category\"\n  ],\n  \"additionalProperties\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1744,
        912
      ],
      "id": "7d1ccce8-45d4-41c9-9ce1-7185911a964b",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1536,
        912
      ],
      "id": "c39df7f3-1837-4a04-a528-0f7f1c56b153",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "J5fuQmNyhxq31HfY",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Retrieve Context\nRAG Agent must call SearchStore, validate whether the result answers the user question, and retry once with a broader query when evidence is weak.",
        "height": 656,
        "width": 656,
        "color": 7
      },
      "id": "aaa252ef-ef5a-4622-91ea-90de508e961a",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2288,
        464
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Parse User Message",
        "height": 656,
        "width": 976,
        "color": 7
      },
      "id": "2c537502-8570-469a-ad48-3dcedc2f8c95",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1296,
        464
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Chat Session: {{ $json.body.session_id }}\nUser message: {{ $json.body.message }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Actua como clasificador legal de Derecho de Familia en Peru. Analiza el mensaje del usuario y devuelve un objeto que cumpla exactamente con el esquema del parser estructurado.\n\nReglas de salida:\n- Copia el Chat Session recibido en session_id como texto.\n- Copia el User message recibido en original_message.\n- Usa category para una sola categoria de la lista o \"error\".\n- No envuelvas la respuesta dentro de otra propiedad como output.\n- Solo incluye message cuando category sea \"error\", cuando la consulta este fuera de alcance, o cuando falte informacion minima para orientar.\n\nCategorias permitidas:\n1. Pension de Alimentos (fijacion, aumento o reduccion).\n2. Tenencia y Custodia (cuidado de hijos y visitas).\n3. Patria Potestad (derechos/deberes sobre hijos).\n4. Violencia Familiar (medidas de proteccion).\n5. Divorcio y Separacion (fin del matrimonio o bienes).\n6. Filiacion y Paternidad (ADN y reconocimiento).\n7. Adopcion (procesos judiciales/administrativos).\n8. Sucesiones y Herencias (herederos y testamentos).\n9. Sociedad de Gananciales (bienes del matrimonio).\n10. Union de Hecho (convivencia).\n11. Tutela y Curatela (proteccion de menores o personas con apoyos).\n12. Procedimientos Administrativos (conciliacion y DEMUNA).\n13. Otros (no aplica ninguna de las otras categorias, pero sigue siendo Derecho de Familia).\n\nReglas para consultas no validas o insuficientes:\n- Si el mensaje es solo un saludo, una frase incompleta, una solicitud de contacto, o no contiene una pregunta legal clara, usa category \"error\".\n- El message debe ser amable, breve y no tecnico. Debe ayudar al usuario a escribir una mejor consulta.\n- Incluye 2 o 3 ejemplos concretos de mejores preguntas sobre Derecho de Familia.\n- No uses palabras como parser, RAG, metadata, modelo, flujo, error tecnico ni clasificacion.\n- Si la consulta no trata sobre Derecho de Familia, usa category \"error\" y explica con tono cordial que LegalFam puede orientar solo en Derecho de Familia peruano.\n\nEjemplo de message para consulta insuficiente:\n\"Puedo ayudarte mejor si me cuentas un poco mas sobre la situacion familiar y que necesitas decidir. Por ejemplo: **Quiero saber como pedir pension de alimentos para mi hijo**, **Necesito orientacion sobre tenencia y visitas** o **Quiero saber que hacer ante violencia familiar**. No incluyas datos personales sensibles; basta con una descripcion general.\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1568,
        688
      ],
      "id": "0321f96f-3622-488c-a57b-ee83d634cdaa",
      "name": "Parser Agent",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "content": "## XAI Agent\nRewrites RAG output into clear Spanish Markdown, adds a situation summary, glossary, caveats, and controlled fallback guidance.",
        "height": 656,
        "width": 656,
        "color": 7
      },
      "id": "4f71057b-cb35-4f60-b25b-cbc779e26544",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2960,
        464
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-process",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1328,
        688
      ],
      "id": "336d18c5-e891-4edd-8cb8-443c813ba60f",
      "name": "Webhook",
      "webhookId": "e4f21899-c504-4373-a3ef-6eddf35d655b",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "aKmM8QvCCJMhQZFQ",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "612266b5-c5c0-4091-875e-50cd729cda11",
              "name": "Search Store",
              "type": "string",
              "value": "fileSearchStores/familylaw-k3uggnk7czvu"
            }
          ]
        },
        "options": {}
      },
      "id": "5e41ceb9-f1e0-4764-880a-5c080893ebab",
      "name": "Get FileStore Name1",
      "type": "n8n-nodes-base.set",
      "position": [
        2096,
        528
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"answer\": \"De acuerdo con el Código Civil, la pensión de alimentos se calcula en base a...\",\n  \"citations\": [\n    {\n      \"file_id\": \"doc_001\",\n      \"file_name\": \"Codigo_Civil_Peru.pdf\",\n      \"snippet\": \"Artículo 472.- Se entiende por alimentos lo que es indispensable para el sustento...\",\n      \"file_url\": \"https://url-al-archivo.com/doc_001\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2816,
        960
      ],
      "id": "647cc64a-455a-4cf1-a2c4-df9f71d2cf0a",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "87e235c4-c2fa-4141-9527-f5eb57ba2d18",
              "leftValue": "={{ $json.output.category }}",
              "rightValue": "error",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1856,
        688
      ],
      "id": "e5bddf91-8bcd-4fb9-bd60-09d56ed777bb",
      "name": "If Relevant"
    },
    {
      "parameters": {
        "jsCode": "const output = $json.output || {};\nconst normalizeLabel = (value) => String(value || '')\n  .replace(/\\u00c3\\u00a1|\\u00c3\\u0083\\u00c2\\u00a1/g, 'a')\n  .replace(/\\u00c3\\u00a9|\\u00c3\\u0083\\u00c2\\u00a9/g, 'e')\n  .replace(/\\u00c3\\u00ad|\\u00c3\\u0083\\u00c2\\u00ad/g, 'i')\n  .replace(/\\u00c3\\u00b3|\\u00c3\\u0083\\u00c2\\u00b3/g, 'o')\n  .replace(/\\u00c3\\u00ba|\\u00c3\\u0083\\u00c2\\u00ba/g, 'u')\n  .replace(/\\u00c3\\u00b1|\\u00c3\\u0083\\u00c2\\u00b1/g, 'n')\n  .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n  .toLowerCase().replace(/\\s+/g, ' ').trim();\nconst categoryKey = normalizeLabel(output.category);\nconst mappings = {\n  'pension de alimentos': {\n    canonicalCategory: 'Relaciones Paterno-Filiales y Menores',\n    canonicalSubcategories: ['Pension de Alimentos'],\n    metadataHints: ['rpfm:pension_alimentos'],\n    searchTerms: ['pension de alimentos', 'alimentos', 'obligacion alimentaria']\n  },\n  'tenencia y custodia': {\n    canonicalCategory: 'Relaciones Paterno-Filiales y Menores',\n    canonicalSubcategories: ['Tenencia y Custodia'],\n    metadataHints: ['rpfm:tenencia_custodia'],\n    searchTerms: ['tenencia', 'custodia', 'regimen de visitas']\n  },\n  'patria potestad': {\n    canonicalCategory: 'Relaciones Paterno-Filiales y Menores',\n    canonicalSubcategories: ['Patria Potestad'],\n    metadataHints: ['rpfm:patria_potestad'],\n    searchTerms: ['patria potestad', 'derechos y deberes parentales']\n  },\n  'violencia familiar': {\n    canonicalCategory: 'Proteccion a Personas Vulnerables',\n    canonicalSubcategories: ['Violencia Familiar'],\n    metadataHints: ['ppv:violencia_familiar'],\n    searchTerms: ['violencia familiar', 'medidas de proteccion']\n  },\n  'divorcio y separacion': {\n    canonicalCategory: 'Vinculos Conyugales y Patrimoniales',\n    canonicalSubcategories: ['Divorcio y Separacion'],\n    metadataHints: ['vcp:divorcio_separacion'],\n    searchTerms: ['divorcio', 'separacion', 'fin del matrimonio']\n  },\n  'filiacion y paternidad': {\n    canonicalCategory: 'Relaciones Paterno-Filiales y Menores',\n    canonicalSubcategories: ['Filiacion e Identidad'],\n    metadataHints: ['rpfm:filiacion_identidad'],\n    searchTerms: ['filiacion', 'paternidad', 'reconocimiento', 'ADN']\n  },\n  'adopcion': {\n    canonicalCategory: 'Relaciones Paterno-Filiales y Menores',\n    canonicalSubcategories: ['Adopcion'],\n    metadataHints: ['rpfm:adopcion'],\n    searchTerms: ['adopcion', 'proceso de adopcion']\n  },\n  'sucesiones y herencias': {\n    canonicalCategory: 'Sucesiones y Herencia',\n    canonicalSubcategories: [],\n    metadataHints: ['sh'],\n    searchTerms: ['sucesiones', 'herencia', 'herederos', 'testamento']\n  },\n  'sociedad de gananciales': {\n    canonicalCategory: 'Vinculos Conyugales y Patrimoniales',\n    canonicalSubcategories: ['Sociedad de Gananciales'],\n    metadataHints: ['vcp:sociedad_gananciales'],\n    searchTerms: ['sociedad de gananciales', 'bienes del matrimonio']\n  },\n  'union de hecho': {\n    canonicalCategory: 'Vinculos Conyugales y Patrimoniales',\n    canonicalSubcategories: ['Union de Hecho'],\n    metadataHints: ['vcp:union_hecho'],\n    searchTerms: ['union de hecho', 'convivencia']\n  },\n  'tutela y curatela': {\n    canonicalCategory: 'Proteccion a Personas Vulnerables',\n    canonicalSubcategories: ['Tutela y Curatela'],\n    metadataHints: ['ppv:tutela_curatela'],\n    searchTerms: ['tutela', 'curatela', 'apoyos', 'salvaguardias']\n  },\n  'procedimientos administrativos': {\n    canonicalCategory: 'Procesos Legales y Resolucion Alternativa',\n    canonicalSubcategories: ['Conciliacion', 'Procedimiento Civil'],\n    metadataHints: ['plra:conciliacion', 'plra:procedimiento_civil'],\n    searchTerms: ['conciliacion', 'DEMUNA', 'procedimiento civil']\n  },\n  'otros': {\n    canonicalCategory: 'Generales',\n    canonicalSubcategories: ['Derecho de Familia', 'Otros'],\n    metadataHints: ['gen:derecho_familia', 'gen:otros'],\n    searchTerms: ['derecho de familia peruano']\n  }\n};\nconst fallback = mappings.otros;\nreturn [{ json: { ...$json, retrieval: mappings[categoryKey] || fallback } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2096,
        688
      ],
      "id": "44df3d61-5974-4d77-aee4-42f5658f702d",
      "name": "Map Retrieval Metadata"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"message\": {{ JSON.stringify($json.output?.message || \"Puedo ayudarte mejor si me cuentas un poco mas sobre tu situacion familiar y que necesitas decidir. Por ejemplo: **Quiero saber como pedir pension de alimentos para mi hijo**, **Necesito orientacion sobre tenencia y visitas** o **Quiero saber que hacer ante violencia familiar**.\") }},\n  \"citations\": []\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2096,
        864
      ],
      "id": "dce6ad35-6515-4f71-a403-2e7788d0660b",
      "name": "Respond without RAG"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"message\": {{ JSON.stringify($json.output?.answer || $json.answer || \"No se pudo generar una respuesta clara. Intenta reformular tu consulta con mas detalles generales sobre tu situacion familiar.\") }},\n  \"citations\": {{ JSON.stringify($json.output?.citations || $json.citations || []) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3504,
        608
      ],
      "id": "53c961e4-16fd-4638-86a4-0e5c13c568ce",
      "name": "Respond with XAI"
    },
    {
      "parameters": {
        "content": "## Done\nLa busqueda RAG ahora usa la categoria clasificada, terminos canonicos y metadata compacta como hints de recuperacion."
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2640,
        1136
      ],
      "typeVersion": 1,
      "id": "443d1b05-ab88-42bf-8ed6-d299ae96936f",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## TODO\nIncluir memoria + posible llamada a endpoint backend para recuperar conversacion previa"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3136,
        1136
      ],
      "typeVersion": 1,
      "id": "9d689058-bbbc-4218-8c45-f9ba6a0f04c5",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3072,
        960
      ],
      "id": "2b7f4d9e-7de4-4b79-80b4-13ecf76031e5",
      "name": "Google Gemini Chat Model XAI",
      "credentials": {
        "googlePalmApi": {
          "id": "J5fuQmNyhxq31HfY",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"ExplainableAnswer\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"answer\": {\n      \"type\": \"string\",\n      \"description\": \"Final user-facing Spanish Markdown answer with clear orientation, situation summary, glossary, caveats, and prompt guidance when needed.\"\n    },\n    \"citations\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"file_id\": {\n            \"type\": \"string\"\n          },\n          \"file_name\": {\n            \"type\": \"string\"\n          },\n          \"snippet\": {\n            \"type\": \"string\"\n          },\n          \"file_url\": {\n            \"type\": \"string\"\n          }\n        },\n        \"additionalProperties\": true\n      }\n    }\n  },\n  \"required\": [\n    \"answer\",\n    \"citations\"\n  ],\n  \"additionalProperties\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        3344,
        960
      ],
      "id": "4fb6d1d2-9e21-44eb-8c7d-e39f07683a40",
      "name": "XAI Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Pregunta original: \"{{ $('Merge1').item.json.output.original_message }}\"\nCategoria legal: \"{{ $('Merge1').item.json.output.category }}\"\nCategoria canonica: \"{{ $('Merge1').item.json.retrieval.canonicalCategory }}\"\nSubcategorias canonicas: \"{{ $('Merge1').item.json.retrieval.canonicalSubcategories.join(', ') }}\"\nMetadata preferida: \"{{ $('Merge1').item.json.retrieval.metadataHints.join(' ') }}\"\nTerminos de busqueda: \"{{ $('Merge1').item.json.retrieval.searchTerms.join(', ') }}\"\nRespuesta validada del RAG Agent: {{ JSON.stringify($json.output || $json) }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Eres el agente XAI de LegalFam. Tu tarea es transformar la respuesta RAG en una orientacion legal clara, amable y explicable para usuarios en Peru. Usa la memoria conversacional de esta misma session para recordar solicitudes previas, hechos generales ya mencionados y continuidad del caso.\n\nDevuelve siempre un objeto con answer y citations.\n\nFormato obligatorio de answer en Markdown seguro:\n### Resumen de tu situacion\n- Resume solo los hechos generales que el usuario dio en este mensaje y en la memoria de esta misma session.\n- Si faltan datos, dilo con frases como \"Con lo que cuentas hasta ahora...\".\n- No pidas datos personales sensibles; pide solo datos generales utiles.\n- Si usas informacion recordada, tratala como contexto probable y no como hecho absoluto cuando haya duda.\n\n### Orientacion legal clara\n- Explica la orientacion en lenguaje simple.\n- Manten respaldo legal y no inventes normas.\n- Si la evidencia recuperada es insuficiente, indicalo y sugiere como reformular la consulta.\n\n### Pasos sugeridos\n- Da pasos preliminares y prudentes, no instrucciones absolutas.\n- Recomienda apoyo especializado cuando pueda haber riesgo, violencia, menores, urgencia o plazos.\n\n### Glosario breve\n- Incluye solo terminos juridicos usados en la respuesta.\n- Explica cada termino en una frase corta y simple.\n\nReglas de seguridad:\n- Si la entrada RAG tiene error, esta vacia, no tiene answer, o menciona problemas con parts/candidates/content, responde de forma controlada: explica que no se encontro suficiente respaldo para responder con seguridad y pide una consulta mas concreta con ejemplos amigables.\n- No menciones detalles tecnicos como RAG, parser, metadata, parts, candidates, modelo, flujo o webhook al usuario.\n- No incluyas una seccion de fuentes, bibliografia, enlaces, documentos usados ni citas dentro de answer. Las fuentes se muestran fuera del mensaje en la interfaz.\n- citations debe conservar exactamente las citas validas recibidas desde el RAG Agent. Si no hay citas validas, usa [].\n- No inventes file_url, file_name ni snippets."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3104,
        608
      ],
      "id": "c5140e3d-b5b6-481f-bf1a-a830d812d99b",
      "name": "XAI Agent",
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "Merge1": {
      "main": [
        [
          {
            "node": "RAG Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Parser Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Parser Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parser Agent": {
      "main": [
        [
          {
            "node": "If Relevant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Parser Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get FileStore Name1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Retrieval Metadata": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If Relevant": {
      "main": [
        [
          {
            "node": "Map Retrieval Metadata",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get FileStore Name1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond without RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XAI Agent": {
      "main": [
        [
          {
            "node": "Respond with XAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model XAI": {
      "ai_languageModel": [
        [
          {
            "node": "XAI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "XAI Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "XAI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SearchStore": {
      "ai_tool": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "XAI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "RAG Agent": {
      "main": [
        [
          {
            "node": "XAI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "47b5853e-9f9e-407f-9152-eba9af71a070",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b4fe1b7f55c924806604a2431485ada3cf45cd4c8e6a1134735f55424b9bdf63"
  },
  "id": "zrMqCWRq1V6lsI7i",
  "tags": []
}
