n8n/workflows/LegalFam Message Flow.json
{
  "name": "LegalFam Message Flow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "0b467b2a-7f3b-4c14-8242-bf87129fd1d1",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        1056,
        1280
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "oAxJEltYLJkpm8wN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "7203b256-e0e7-406a-87cf-89e6d47b57b7",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "position": [
        1008,
        960
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $('Get FileStore Name1').item.json['Search Store'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\":\"Consulta del usuario: {{ $('Merge1').item.json.output.original_message }}\\nCategoria legal: {{ $('Merge1').item.json.output.category }}\\nCategoria canonica: {{ $('Merge1').item.json.retrieval.canonicalCategory }}\\nSubcategorias canonicas: {{ $('Merge1').item.json.retrieval.canonicalSubcategories.join(', ') }}\\nMetadata preferida: {{ $('Merge1').item.json.retrieval.metadataHints.join(' ') }}\\nTerminos de busqueda: {{ $('Merge1').item.json.retrieval.searchTerms.join(', ') }}\\nConsulta refinada: {{ $fromAI(\"query\",\"category-aware legal retrieval query that preserves the user question and includes the provided legal category, canonical subcategories, and metadata hints\") }}\"\n        }\n      ]\n    }\n  ],\n  \"tools\": [\n    {\n      \"file_search\": {\n        \"file_search_store_names\": [\n          \"{{ $('Merge1').item.json['Search Store'] }}\"\n        ]\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "id": "e23e2c21-7522-4612-ad14-1c8cbb22d50d",
      "name": "SearchStore",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [
        1376,
        1280
      ],
      "typeVersion": 4.3,
      "credentials": {
        "googlePalmApi": {
          "id": "oAxJEltYLJkpm8wN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Parser Agent').item.json.output.session_id }}"
      },
      "id": "350a7de5-c1ad-46ea-9f2c-eb6fe6efdd41",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1216,
        1280
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Mensaje del usuario: \"{{ $json.output.original_message }}\"\nCategoria: \"{{ $json.output.category }}\"\nCategoria canonica: \"{{ $json.retrieval.canonicalCategory }}\"\nSubcategorias canonicas: \"{{ $json.retrieval.canonicalSubcategories.join(', ') }}\"\nMetadata preferida: \"{{ $json.retrieval.metadataHints.join(' ') }}\"\nTerminos de busqueda: \"{{ $json.retrieval.searchTerms.join(', ') }}\"",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Eres un asistente legal de Derecho de Familia peruano. Para cada consulta relevante, siempre usa SearchStore antes de responder. Al llamar SearchStore, conserva la pregunta original e incluye la categoria legal, las subcategorias canonicas, los terminos de busqueda y la metadata preferida. Prioriza fuentes recuperadas que coincidan con la categoria o metadata preferida, pero permite fallback si no hay coincidencia exacta. Responde solo con informacion sustentada por el contexto recuperado y devuelve citas cuando esten disponibles."
        }
      },
      "id": "812cdfa7-0221-45fc-a455-23a8a57d5ca3",
      "name": "RAG Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1216,
        928
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"MessageObject\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"session_id\": {\n      \"type\": \"string\",\n      \"format\": \"uuid\",\n      \"description\": \"A unique identifier for the current chat session.\"\n    },\n    \"original_message\": {\n      \"type\": \"string\",\n      \"description\": \"The raw input message.\"\n    },\n    \"message\": {\n      \"type\": \"string\",\n      \"description\": \"The processed response message.\"\n    },\n    \"category\": {\n      \"type\": \"string\",\n      \"description\": \"The classification category.\"\n    }\n  },\n  \"required\": [\n    \"session_id\",\n    \"original_message\",\n    \"category\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        448,
        1232
      ],
      "id": "a5d6364b-96f0-4206-b5b9-5d9f3552ab95",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        1232
      ],
      "id": "6ba0964e-5dcc-4fc8-9f3c-3d4496132148",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "oAxJEltYLJkpm8wN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Retrieve Context",
        "height": 656,
        "width": 656,
        "color": 7
      },
      "id": "604f6b77-854b-48d4-bc0c-8a00a2ceb061",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        992,
        784
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Parse User Message",
        "height": 656,
        "width": 976,
        "color": 7
      },
      "id": "f86a5b46-c694-49ff-994f-9a2ed4cfcfb6",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        784
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Chat Session: {{ $json.body.session_id }}\nUser message: {{ $json.body.message }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Actúa como clasificador legal de Derecho de Familia en Perú. Analiza el mensaje del usuario y responde **solo** con el nombre de la categoría o el mensaje de advertencia.\n\n**Categorías:**\n1. **Pensión de Alimentos** (Fijación, aumento o reducción).\n2. **Tenencia y Custodia** (Cuidado de hijos y visitas).\n3. **Patria Potestad** (Derechos/deberes sobre hijos).\n4. **Violencia Familiar** (Medidas de protección).\n5. **Divorcio y Separación** (Fin del matrimonio o bienes).\n6. **Filiación y Paternidad** (ADN y reconocimiento).\n7. **Adopción** (Procesos judiciales/administrativos).\n8. **Sucesiones y Herencias** (Herederos y testamentos).\n9. **Sociedad de Gananciales** (Bienes del matrimonio).\n10. **Unión de Hecho** (Convivencia).\n11. **Tutela y Curatela** (Protección de menores o incapaces).\n12. **Procedimientos Administrativos** (Conciliación y DEMUNA).\n13. **Otros** (No aplica ninguna de las otras categorías).\n\n**Regla de Seguridad:**\nSi el mensaje no es una consulta sino un mensaje de saludo o parecido llamar, el \"category\" sería \"error\" y generaras un mensaje de respuesta.\nSi la mensaje es una consulta pero no es sobre Derecho de Familia, responde exactamente:\n*\"Su consulta está fuera del alcance de nuestro alcance. Por favor, realiza una pregunta sobre Derecho de Familia.\"*\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        272,
        1008
      ],
      "id": "2649bec3-a88d-41eb-b9fa-3f5f7f562470",
      "name": "Parser Agent",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "content": "## Make message explainable",
        "height": 656,
        "width": 656,
        "color": 7
      },
      "id": "2f7069a9-6eb7-4335-b6db-3e6ed8bc2dd3",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1664,
        784
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-process",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        32,
        1008
      ],
      "id": "6fecf5e4-c6d2-4ee5-983e-837f69ea434b",
      "name": "Webhook",
      "webhookId": "e4f21899-c504-4373-a3ef-6eddf35d655b",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "9ijeVEdY2HH4S3iZ",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "612266b5-c5c0-4091-875e-50cd729cda11",
              "name": "Search Store",
              "type": "string",
              "value": "fileSearchStores/family-law-documents-9088cqspva81"
            }
          ]
        },
        "options": {}
      },
      "id": "c0b950a4-fa35-4485-89b4-af8923b0b424",
      "name": "Get FileStore Name1",
      "type": "n8n-nodes-base.set",
      "position": [
        800,
        848
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"answer\": \"De acuerdo con el Código Civil, la pensión de alimentos se calcula en base a...\",\n  \"citations\": [\n    {\n      \"file_id\": \"doc_001\",\n      \"file_name\": \"Codigo_Civil_Peru.pdf\",\n      \"snippet\": \"Artículo 472.- Se entiende por alimentos lo que es indispensable para el sustento...\",\n      \"file_url\": \"https://url-al-archivo.com/doc_001\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1520,
        1280
      ],
      "id": "33506366-f2a7-45ba-a15e-3c12e8c931c9",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "87e235c4-c2fa-4141-9527-f5eb57ba2d18",
              "leftValue": "={{ $json.output.category }}",
              "rightValue": "error",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        560,
        1008
      ],
      "id": "727a8f93-c9be-4457-bebd-d8c429280025",
      "name": "If Relevant"
    },
    {
      "parameters": {
        "jsCode": "const output = $json.output || {};\nconst normalizeLabel = (value) => String(value || '')\n  .replace(/\\u00c3\\u00a1|\\u00c3\\u0083\\u00c2\\u00a1/g, 'a')\n  .replace(/\\u00c3\\u00a9|\\u00c3\\u0083\\u00c2\\u00a9/g, 'e')\n  .replace(/\\u00c3\\u00ad|\\u00c3\\u0083\\u00c2\\u00ad/g, 'i')\n  .replace(/\\u00c3\\u00b3|\\u00c3\\u0083\\u00c2\\u00b3/g, 'o')\n  .replace(/\\u00c3\\u00ba|\\u00c3\\u0083\\u00c2\\u00ba/g, 'u')\n  .replace(/\\u00c3\\u00b1|\\u00c3\\u0083\\u00c2\\u00b1/g, 'n')\n  .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n  .toLowerCase().replace(/\\s+/g, ' ').trim();\nconst categoryKey = normalizeLabel(output.category);\nconst mappings = {\n  'pension de alimentos': {\n    canonicalCategory: 'Relaciones Paterno-Filiales y Menores',\n    canonicalSubcategories: ['Pension de Alimentos'],\n    metadataHints: ['rpfm:pension_alimentos'],\n    searchTerms: ['pension de alimentos', 'alimentos', 'obligacion alimentaria']\n  },\n  'tenencia y custodia': {\n    canonicalCategory: 'Relaciones Paterno-Filiales y Menores',\n    canonicalSubcategories: ['Tenencia y Custodia'],\n    metadataHints: ['rpfm:tenencia_custodia'],\n    searchTerms: ['tenencia', 'custodia', 'regimen de visitas']\n  },\n  'patria potestad': {\n    canonicalCategory: 'Relaciones Paterno-Filiales y Menores',\n    canonicalSubcategories: ['Patria Potestad'],\n    metadataHints: ['rpfm:patria_potestad'],\n    searchTerms: ['patria potestad', 'derechos y deberes parentales']\n  },\n  'violencia familiar': {\n    canonicalCategory: 'Proteccion a Personas Vulnerables',\n    canonicalSubcategories: ['Violencia Familiar'],\n    metadataHints: ['ppv:violencia_familiar'],\n    searchTerms: ['violencia familiar', 'medidas de proteccion']\n  },\n  'divorcio y separacion': {\n    canonicalCategory: 'Vinculos Conyugales y Patrimoniales',\n    canonicalSubcategories: ['Divorcio y Separacion'],\n    metadataHints: ['vcp:divorcio_separacion'],\n    searchTerms: ['divorcio', 'separacion', 'fin del matrimonio']\n  },\n  'filiacion y paternidad': {\n    canonicalCategory: 'Relaciones Paterno-Filiales y Menores',\n    canonicalSubcategories: ['Filiacion e Identidad'],\n    metadataHints: ['rpfm:filiacion_identidad'],\n    searchTerms: ['filiacion', 'paternidad', 'reconocimiento', 'ADN']\n  },\n  'adopcion': {\n    canonicalCategory: 'Relaciones Paterno-Filiales y Menores',\n    canonicalSubcategories: ['Adopcion'],\n    metadataHints: ['rpfm:adopcion'],\n    searchTerms: ['adopcion', 'proceso de adopcion']\n  },\n  'sucesiones y herencias': {\n    canonicalCategory: 'Sucesiones y Herencia',\n    canonicalSubcategories: [],\n    metadataHints: ['sh'],\n    searchTerms: ['sucesiones', 'herencia', 'herederos', 'testamento']\n  },\n  'sociedad de gananciales': {\n    canonicalCategory: 'Vinculos Conyugales y Patrimoniales',\n    canonicalSubcategories: ['Sociedad de Gananciales'],\n    metadataHints: ['vcp:sociedad_gananciales'],\n    searchTerms: ['sociedad de gananciales', 'bienes del matrimonio']\n  },\n  'union de hecho': {\n    canonicalCategory: 'Vinculos Conyugales y Patrimoniales',\n    canonicalSubcategories: ['Union de Hecho'],\n    metadataHints: ['vcp:union_hecho'],\n    searchTerms: ['union de hecho', 'convivencia']\n  },\n  'tutela y curatela': {\n    canonicalCategory: 'Proteccion a Personas Vulnerables',\n    canonicalSubcategories: ['Tutela y Curatela'],\n    metadataHints: ['ppv:tutela_curatela'],\n    searchTerms: ['tutela', 'curatela', 'apoyos', 'salvaguardias']\n  },\n  'procedimientos administrativos': {\n    canonicalCategory: 'Procesos Legales y Resolucion Alternativa',\n    canonicalSubcategories: ['Conciliacion', 'Procedimiento Civil'],\n    metadataHints: ['plra:conciliacion', 'plra:procedimiento_civil'],\n    searchTerms: ['conciliacion', 'DEMUNA', 'procedimiento civil']\n  },\n  'otros': {\n    canonicalCategory: 'Generales',\n    canonicalSubcategories: ['Derecho de Familia', 'Otros'],\n    metadataHints: ['gen:derecho_familia', 'gen:otros'],\n    searchTerms: ['derecho de familia peruano']\n  }\n};\nconst fallback = mappings.otros;\nreturn [{ json: { ...$json, retrieval: mappings[categoryKey] || fallback } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        1008
      ],
      "id": "96943733-dfb8-47bc-a2b0-d6a2edc39f0d",
      "name": "Map Retrieval Metadata"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"message\": \"{{ $json.output.message }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        800,
        1120
      ],
      "id": "59d70dbe-7548-4a30-a8aa-a789441dd70e",
      "name": "Respond without RAG"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"message\": {{ JSON.stringify($json.output.answer || \"No response generated\") }},\n  \"citations\": {{ JSON.stringify($json.output.citations || []) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1904,
        928
      ],
      "id": "9867925b-f36b-45c7-8e79-287f56dd4702",
      "name": "Respond with XAI"
    },
    {
      "parameters": {
        "content": "## Done\nLa busqueda RAG ahora usa la categoria clasificada, terminos canonicos y metadata compacta como hints de recuperacion."
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1344,
        1456
      ],
      "typeVersion": 1,
      "id": "27199409-0fff-4fe8-913a-a63737592fa5",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## TODO\nIncluir memoria + posible llamada a endpoint backend para recuperar conversacion previa"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1840,
        1456
      ],
      "typeVersion": 1,
      "id": "a18fef51-7dfe-4709-9ecb-468c9a047ce1",
      "name": "Sticky Note7"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "RAG Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SearchStore": {
      "ai_tool": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Parser Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Parser Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parser Agent": {
      "main": [
        [
          {
            "node": "If Relevant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG Agent": {
      "main": [
        [
          {
            "node": "Respond with XAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Parser Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get FileStore Name1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Retrieval Metadata": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If Relevant": {
      "main": [
        [
          {
            "node": "Map Retrieval Metadata",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get FileStore Name1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond without RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "218344ed-0f21-4492-9737-285ed892114a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c03166cd464efec0979336a390da267a77d29a911939787f41cbd8af0d4b7869"
  },
  "id": "5edVGDge4JfzXIaQ",
  "tags": []
}
