n8n/workflows/LegalFam Message Flow.json
{
  "name": "LegalFam Message Flow",
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-3.1-pro-preview",
        "options": {}
      },
      "id": "d8cc00b8-eaec-4b24-9c76-79372e7a316e",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        480,
        2112
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "J5fuQmNyhxq31HfY",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "5076fac4-ce41-4bef-8e50-2d5801874684",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "position": [
        304,
        1792
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://processing-api:8000/rag-search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  query: $fromAI('query', 'A legal retrieval query. If the first result is invalid, retry once with broader legal synonyms and the canonical category.'),\n  original_message: $('Prepare RAG Agent Input').item.json.rag.original_message,\n  legal_category: $('Prepare RAG Agent Input').item.json.rag.legal_category,\n  canonical_category: $('Prepare RAG Agent Input').item.json.rag.canonical_category,\n  canonical_subcategories: $('Prepare RAG Agent Input').item.json.rag.canonical_subcategories,\n  metadata_hints: $('Prepare RAG Agent Input').item.json.rag.metadata_hints,\n  search_terms: $('Prepare RAG Agent Input').item.json.rag.search_terms,\n  file_search_store_name: $('Prepare RAG Agent Input').item.json.rag.file_search_store_name\n} }}",
        "options": {}
      },
      "id": "3563a8e1-4a68-424e-b244-32d66ab2ef8d",
      "name": "SearchStore",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [
        672,
        2112
      ],
      "typeVersion": 4.3,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.rag_prompt }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Eres un agente RAG legal de Derecho de Familia peruano.\n\nDebes usar siempre la herramienta SearchStore antes de responder.\n\nUsa previous_messages solo para resolver continuidad, pronombres, hechos generales ya mencionados y categoria legal. La fuente de verdad para memoria es el historial persistido enviado por el webhook, no la memoria interna de n8n.\n\nProceso obligatorio:\n1. Llama SearchStore con una consulta que conserve la pregunta original e incluya categoria canonica, subcategorias, terminos de busqueda y metadata preferida.\n2. Revisa el resultado de SearchStore.\n3. Considera GOOD solo cuando valid=true, answer responde directamente la pregunta del usuario, y citations contiene fuentes utiles relacionadas con la categoria consultada.\n4. Considera WEAK cuando hay citas relacionadas pero el respaldo es indirecto, parcial o no cubre todos los puntos principales. Devuelve esas citas de todas formas.\n5. Si el primer resultado no es valido, no responde todavia: llama SearchStore una segunda vez con una consulta reformulada, mas amplia, usando sinonimos juridicos, categoria canonica y terminos alternativos.\n6. Despues del segundo intento, devuelve el mejor resultado disponible para orientar la consulta de Derecho de Familia. Si no hay citas utiles, responde de forma prudente con la mejor orientacion legal general disponible y usa citations: [].\n\nContrato de salida obligatorio:\n- Devuelve exclusivamente JSON valido, sin Markdown, sin bloque ```json, sin texto antes ni despues.\n- El JSON debe tener exactamente esta forma: {\"answer\":\"texto en espanol\",\"citations\":[],\"citationSupportStatus\":\"GOOD\"}.\n- citationSupportStatus debe ser GOOD, WEAK o NONE.\n- Usa GOOD si hay citas utiles y directas; WEAK si hay citas debiles o indirectas y debes devolverlas; NONE si no hay citas utiles y citations debe ser [].\n- answer debe ser un string en espanol claro y no debe mencionar detalles tecnicos.\n- citations debe ser el arreglo de citas validas devuelto por SearchStore; si citationSupportStatus es WEAK devuelve las citas debiles disponibles; si es NONE usa [].\n- Si SearchStore devuelve texto plano, extrae su respuesta a answer, usa citations: [] y citationSupportStatus: NONE.\n- No inventes articulos, enlaces, nombres de documentos ni citas."
        }
      },
      "id": "722b91ab-1130-49e7-957e-e447e1d5199f",
      "name": "RAG Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        592,
        1792
      ],
      "typeVersion": 3.1,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const output = $json.output || {};\nconst retrieval = $json.retrieval || {};\nconst body = $json.body || {};\nconst stringArray = (value) => Array.isArray(value)\n  ? value.map((item) => String(item || '').trim()).filter(Boolean)\n  : [];\nconst previousMessages = Array.isArray(body.previous_messages) ? body.previous_messages : [];\nconst formattedHistory = previousMessages\n  .map((message) => `${String(message.role || '').trim()}: ${String(message.content || '').trim()}`)\n  .filter((line) => line.length > 2)\n  .join('\\n');\nconst rag = {\n  original_message: String(output.original_message || '').trim(),\n  legal_category: String(output.category || '').trim(),\n  canonical_category: String(retrieval.canonicalCategory || '').trim(),\n  canonical_subcategories: stringArray(retrieval.canonicalSubcategories),\n  metadata_hints: stringArray(retrieval.metadataHints),\n  search_terms: stringArray(retrieval.searchTerms),\n  file_search_store_name: String($json['Search Store'] || '').trim(),\n  previous_messages: previousMessages\n};\nconst rag_prompt = [\n  `Mensaje del usuario: \"${rag.original_message}\"`,\n  `Historial persistido reciente:\\n${formattedHistory || '(sin mensajes previos)'}`,\n  `Categoria: \"${rag.legal_category}\"`,\n  `Categoria canonica: \"${rag.canonical_category}\"`,\n  `Subcategorias canonicas: \"${rag.canonical_subcategories.join(', ')}\"`,\n  `Metadata preferida: \"${rag.metadata_hints.join(' ')}\"`,\n  `Terminos de busqueda: \"${rag.search_terms.join(', ')}\"`\n].join('\\n');\nreturn [{ json: { ...$json, rag, rag_prompt } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        1792
      ],
      "id": "eab080c9-61b8-4901-9260-615ad7cf4e42",
      "name": "Prepare RAG Agent Input"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"MessageObject\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"session_id\": {\n      \"type\": \"string\",\n      \"format\": \"uuid\",\n      \"description\": \"A unique identifier for the current chat session.\"\n    },\n    \"original_message\": {\n      \"type\": \"string\",\n      \"description\": \"The raw input message.\"\n    },\n    \"message\": {\n      \"type\": \"string\",\n      \"description\": \"The processed response message. Required when category is error.\"\n    },\n    \"category\": {\n      \"type\": \"string\",\n      \"description\": \"The classification category.\"\n    }\n  },\n  \"required\": [\n    \"session_id\",\n    \"original_message\",\n    \"category\"\n  ],\n  \"additionalProperties\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -272,
        2064
      ],
      "id": "e1fb94f4-6d04-4114-a6f8-f53a023cc119",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -480,
        2064
      ],
      "id": "afe2e2d7-6894-48ad-aa51-668a27d629ee",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "J5fuQmNyhxq31HfY",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Retrieve Context\nRAG Agent must call SearchStore, validate whether the result answers the user question, and retry once with a broader query when evidence is weak.",
        "height": 656,
        "width": 656,
        "color": 7
      },
      "id": "6aca7cc5-58de-41af-8240-ee790fae4fd1",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        288,
        1616
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Parse User Message",
        "height": 656,
        "width": 976,
        "color": 7
      },
      "id": "f79e6d8d-daa3-4fe3-8567-eb00d17e2757",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -720,
        1616
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Chat Session: {{ $json.body.session_id }}\nUser message: {{ $json.body.message }}\nPrevious persisted messages: {{ JSON.stringify($json.body.previous_messages || []) }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Actua como clasificador legal de Derecho de Familia en Peru. Analiza el mensaje del usuario y devuelve un objeto que cumpla exactamente con el esquema del parser estructurado.\n\nUsa Previous persisted messages solo para resolver continuidad, pronombres y categoria legal. No los trates como memoria interna de n8n ni inventes datos no escritos.\n\nReglas de salida:\n- Copia el Chat Session recibido en session_id como texto.\n- Copia el User message recibido en original_message.\n- Usa category para una sola categoria de la lista o \"error\".\n- No envuelvas la respuesta dentro de otra propiedad como output.\n- Solo incluye message cuando category sea \"error\", cuando la consulta este fuera de alcance, o cuando falte informacion minima para orientar.\n\nCategorias permitidas:\n1. Pension de Alimentos (fijacion, aumento o reduccion).\n2. Tenencia y Custodia (cuidado de hijos y visitas).\n3. Patria Potestad (derechos/deberes sobre hijos).\n4. Violencia Familiar (medidas de proteccion).\n5. Divorcio y Separacion (fin del matrimonio o bienes).\n6. Filiacion y Paternidad (ADN y reconocimiento).\n7. Adopcion (procesos judiciales/administrativos).\n8. Sucesiones y Herencias (herederos y testamentos).\n9. Sociedad de Gananciales (bienes del matrimonio).\n10. Union de Hecho (convivencia).\n11. Tutela y Curatela (proteccion de menores o personas con apoyos).\n12. Procedimientos Administrativos (conciliacion y DEMUNA).\n13. Otros (no aplica ninguna de las otras categorias, pero sigue siendo Derecho de Familia).\n\nReglas para consultas no validas o insuficientes:\n- Si el mensaje es una frase incompleta, una solicitud de contacto, no contiene una pregunta legal clara, o no trata sobre Derecho de Familia, usa category \"error\".\n- El message debe ser amable, breve, no tecnico y personalizado al mensaje real del usuario. No uses una plantilla fija ni repitas siempre la misma redaccion.\n- Si la consulta no trata sobre Derecho de Familia, explica de forma cordial que esta app orienta solo sobre Derecho de Familia peruano y redirige hacia una consulta familiar concreta.\n- Ayuda al usuario a escribir una mejor consulta: pide una descripcion general de la situacion familiar y que necesita decidir.\n- Incluye 2 o 3 ejemplos concretos de mejores preguntas solo cuando juzgues que ayudarian materialmente al usuario a reescribir una consulta invalida o insuficiente; ajustalos al contexto cuando sea posible.\n- Recuerda que no debe incluir datos personales sensibles; basta con una descripcion general.\n- No uses palabras como parser, RAG, metadata, modelo, flujo, error tecnico ni clasificacion.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -448,
        1840
      ],
      "id": "51f858bf-6f77-4741-8b0b-5b2bb6b99715",
      "name": "Parser Agent",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "content": "## XAI Agent\nRewrites RAG output into personalized, safe Spanish Markdown with flexible structure, useful next steps, glossary when helpful, and prudent legal caveats.",
        "height": 656,
        "width": 656,
        "color": 7
      },
      "id": "1d4a77ec-3d4a-4f18-a34d-089b8d615f8a",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        1616
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-process",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -688,
        1840
      ],
      "id": "71aaf36d-afd6-454c-9a88-5bf48dcf1288",
      "name": "Webhook",
      "webhookId": "e4f21899-c504-4373-a3ef-6eddf35d655b",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "aKmM8QvCCJMhQZFQ",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "612266b5-c5c0-4091-875e-50cd729cda11",
              "name": "Search Store",
              "type": "string",
              "value": "fileSearchStores/familylaw-k3uggnk7czvu"
            }
          ]
        },
        "options": {}
      },
      "id": "e7456645-969c-43da-a729-5477c0c383a4",
      "name": "Get FileStore Name1",
      "type": "n8n-nodes-base.set",
      "position": [
        96,
        1680
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"RagAnswer\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"answer\": {\n      \"type\": \"string\"\n    },\n    \"citations\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"file_id\": {\n            \"type\": \"string\"\n          },\n          \"file_name\": {\n            \"type\": \"string\"\n          },\n          \"snippet\": {\n            \"type\": \"string\"\n          },\n          \"file_url\": {\n            \"type\": \"string\"\n          }\n        },\n        \"additionalProperties\": true\n      }\n    },\n    \"citationSupportStatus\": {\n      \"type\": \"string\",\n      \"enum\": [\n        \"GOOD\",\n        \"WEAK\",\n        \"NONE\"\n      ]\n    }\n  },\n  \"required\": [\n    \"answer\",\n    \"citations\",\n    \"citationSupportStatus\"\n  ],\n  \"additionalProperties\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        816,
        2112
      ],
      "id": "ee8d3a47-dc1a-48df-a279-c4a24171a5c7",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "87e235c4-c2fa-4141-9527-f5eb57ba2d18",
              "leftValue": "={{ $json.output.category }}",
              "rightValue": "error",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -160,
        1840
      ],
      "id": "3e8cc168-c04d-472f-9586-1d37043ca1ee",
      "name": "If Relevant"
    },
    {
      "parameters": {
        "jsCode": "const output = $json.output || {};\nconst normalizeLabel = (value) => String(value || '')\n  .replace(/\\u00c3\\u00a1|\\u00c3\\u0083\\u00c2\\u00a1/g, 'a')\n  .replace(/\\u00c3\\u00a9|\\u00c3\\u0083\\u00c2\\u00a9/g, 'e')\n  .replace(/\\u00c3\\u00ad|\\u00c3\\u0083\\u00c2\\u00ad/g, 'i')\n  .replace(/\\u00c3\\u00b3|\\u00c3\\u0083\\u00c2\\u00b3/g, 'o')\n  .replace(/\\u00c3\\u00ba|\\u00c3\\u0083\\u00c2\\u00ba/g, 'u')\n  .replace(/\\u00c3\\u00b1|\\u00c3\\u0083\\u00c2\\u00b1/g, 'n')\n  .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n  .toLowerCase().replace(/\\s+/g, ' ').trim();\nconst categoryKey = normalizeLabel(output.category);\nconst mappings = {\n  'pension de alimentos': {\n    canonicalCategory: 'Relaciones Paterno-Filiales y Menores',\n    canonicalSubcategories: ['Pension de Alimentos'],\n    metadataHints: ['rpfm:pension_alimentos'],\n    searchTerms: ['pension de alimentos', 'alimentos', 'obligacion alimentaria']\n  },\n  'tenencia y custodia': {\n    canonicalCategory: 'Relaciones Paterno-Filiales y Menores',\n    canonicalSubcategories: ['Tenencia y Custodia'],\n    metadataHints: ['rpfm:tenencia_custodia'],\n    searchTerms: ['tenencia', 'custodia', 'regimen de visitas']\n  },\n  'patria potestad': {\n    canonicalCategory: 'Relaciones Paterno-Filiales y Menores',\n    canonicalSubcategories: ['Patria Potestad'],\n    metadataHints: ['rpfm:patria_potestad'],\n    searchTerms: ['patria potestad', 'derechos y deberes parentales']\n  },\n  'violencia familiar': {\n    canonicalCategory: 'Proteccion a Personas Vulnerables',\n    canonicalSubcategories: ['Violencia Familiar'],\n    metadataHints: ['ppv:violencia_familiar'],\n    searchTerms: ['violencia familiar', 'medidas de proteccion']\n  },\n  'divorcio y separacion': {\n    canonicalCategory: 'Vinculos Conyugales y Patrimoniales',\n    canonicalSubcategories: ['Divorcio y Separacion'],\n    metadataHints: ['vcp:divorcio_separacion'],\n    searchTerms: ['divorcio', 'separacion', 'fin del matrimonio']\n  },\n  'filiacion y paternidad': {\n    canonicalCategory: 'Relaciones Paterno-Filiales y Menores',\n    canonicalSubcategories: ['Filiacion e Identidad'],\n    metadataHints: ['rpfm:filiacion_identidad'],\n    searchTerms: ['filiacion', 'paternidad', 'reconocimiento', 'ADN']\n  },\n  'adopcion': {\n    canonicalCategory: 'Relaciones Paterno-Filiales y Menores',\n    canonicalSubcategories: ['Adopcion'],\n    metadataHints: ['rpfm:adopcion'],\n    searchTerms: ['adopcion', 'proceso de adopcion']\n  },\n  'sucesiones y herencias': {\n    canonicalCategory: 'Sucesiones y Herencia',\n    canonicalSubcategories: [],\n    metadataHints: ['sh'],\n    searchTerms: ['sucesiones', 'herencia', 'herederos', 'testamento']\n  },\n  'sociedad de gananciales': {\n    canonicalCategory: 'Vinculos Conyugales y Patrimoniales',\n    canonicalSubcategories: ['Sociedad de Gananciales'],\n    metadataHints: ['vcp:sociedad_gananciales'],\n    searchTerms: ['sociedad de gananciales', 'bienes del matrimonio']\n  },\n  'union de hecho': {\n    canonicalCategory: 'Vinculos Conyugales y Patrimoniales',\n    canonicalSubcategories: ['Union de Hecho'],\n    metadataHints: ['vcp:union_hecho'],\n    searchTerms: ['union de hecho', 'convivencia']\n  },\n  'tutela y curatela': {\n    canonicalCategory: 'Proteccion a Personas Vulnerables',\n    canonicalSubcategories: ['Tutela y Curatela'],\n    metadataHints: ['ppv:tutela_curatela'],\n    searchTerms: ['tutela', 'curatela', 'apoyos', 'salvaguardias']\n  },\n  'procedimientos administrativos': {\n    canonicalCategory: 'Procesos Legales y Resolucion Alternativa',\n    canonicalSubcategories: ['Conciliacion', 'Procedimiento Civil'],\n    metadataHints: ['plra:conciliacion', 'plra:procedimiento_civil'],\n    searchTerms: ['conciliacion', 'DEMUNA', 'procedimiento civil']\n  },\n  'otros': {\n    canonicalCategory: 'Generales',\n    canonicalSubcategories: ['Derecho de Familia', 'Otros'],\n    metadataHints: ['gen:derecho_familia', 'gen:otros'],\n    searchTerms: ['derecho de familia peruano']\n  }\n};\nconst fallback = mappings.otros;\nreturn [{ json: { ...$json, retrieval: mappings[categoryKey] || fallback } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        1840
      ],
      "id": "e201b2c8-451a-4369-8c41-15da16b4b9d1",
      "name": "Map Retrieval Metadata"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"message\": {{ JSON.stringify($json.output?.message || \"Puedo orientar sobre Derecho de Familia en Peru. Cuentame de forma general tu situacion familiar y que necesitas decidir, sin incluir datos personales.\") }},\n  \"citations\": [],\n  \"confidenceStatus\": null,\n  \"confidenceReason\": null,\n  \"nextSteps\": [],\n  \"specialistSupportRecommended\": false,\n  \"citationSupportStatus\": null\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        96,
        2016
      ],
      "id": "e3cfe24c-f72f-4006-9441-fef65a10d912",
      "name": "Respond without RAG"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"message\": {{ JSON.stringify($json.output?.answer || $json.answer || \"Con lo que cuentas hasta ahora, puedo darte una orientacion general de Derecho de Familia. Describe de forma general la situacion familiar y que necesitas decidir, sin incluir datos personales sensibles.\") }},\n  \"citations\": {{ JSON.stringify($json.output?.citations || $json.citations || []) }},\n  \"confidenceStatus\": {{ JSON.stringify($json.output?.confidenceStatus || (($json.output?.citations || $json.citations || []).length ? \"MEDIUM\" : \"LOW\")) }},\n  \"confidenceReason\": {{ JSON.stringify($json.output?.confidenceReason || null) }},\n  \"nextSteps\": {{ JSON.stringify($json.output?.nextSteps || []) }},\n  \"specialistSupportRecommended\": {{ JSON.stringify(Boolean($json.output?.specialistSupportRecommended)) }},\n  \"citationSupportStatus\": {{ JSON.stringify($('RAG Agent').item.json.output?.citationSupportStatus || $json.output?.citationSupportStatus || $json.citationSupportStatus || (($json.output?.citations || $json.citations || []).length ? \"GOOD\" : \"NONE\")) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1504,
        1760
      ],
      "id": "7f506e58-f65e-47be-a754-da7973899e3f",
      "name": "Respond with XAI"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1056,
        2112
      ],
      "id": "f0a3e89c-9e77-4c93-a29e-aa91634fb338",
      "name": "Google Gemini Chat Model XAI",
      "credentials": {
        "googlePalmApi": {
          "id": "J5fuQmNyhxq31HfY",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"ExplainableAnswer\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"answer\": {\n      \"type\": \"string\",\n      \"description\": \"Final user-facing Spanish Markdown answer with personalized orientation, preliminary legal alternatives, useful next steps, glossary when helpful, and prudent caveats.\"\n    },\n    \"citations\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"file_id\": {\n            \"type\": \"string\"\n          },\n          \"file_name\": {\n            \"type\": \"string\"\n          },\n          \"snippet\": {\n            \"type\": \"string\",\n            \"description\": \"One short Spanish safe summary of the relevant evidence from this file. Summarize across all retrieved snippets for the same file, mention only why it matters, and do not copy exact text or expose sensitive personal details from jurisprudence.\"\n          },\n          \"file_url\": {\n            \"type\": \"string\"\n          }\n        },\n        \"additionalProperties\": true\n      }\n    },\n    \"citationSupportStatus\": {\n      \"type\": \"string\",\n      \"enum\": [\n        \"GOOD\",\n        \"WEAK\",\n        \"NONE\"\n      ]\n    },\n    \"confidenceStatus\": {\n      \"type\": \"string\",\n      \"enum\": [\n        \"HIGH\",\n        \"MEDIUM\",\n        \"LOW\"\n      ]\n    },\n    \"confidenceReason\": {\n      \"type\": \"string\"\n    },\n    \"specialistSupportRecommended\": {\n      \"type\": \"boolean\"\n    },\n    \"nextSteps\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"description\": \"Concrete next steps only for in-scope legal guidance. Return [] for greetings, out-of-scope messages, or when no useful next step follows from the answer.\"\n    }\n  },\n  \"required\": [\n    \"answer\",\n    \"citations\",\n    \"citationSupportStatus\",\n    \"confidenceStatus\",\n    \"nextSteps\",\n    \"specialistSupportRecommended\"\n  ],\n  \"additionalProperties\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1392,
        2112
      ],
      "id": "bc789afe-f3f4-4838-949d-b38b82d89aad",
      "name": "XAI Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Pregunta original: \"{{ $('Merge1').item.json.output.original_message }}\"\nHistorial persistido reciente: {{ JSON.stringify($('Merge1').item.json.rag.previous_messages || []) }}\nCategoria legal: \"{{ $('Merge1').item.json.output.category }}\"\nCategoria canonica: \"{{ $('Merge1').item.json.retrieval.canonicalCategory }}\"\nSubcategorias canonicas: \"{{ $('Merge1').item.json.retrieval.canonicalSubcategories.join(', ') }}\"\nMetadata preferida: \"{{ $('Merge1').item.json.retrieval.metadataHints.join(' ') }}\"\nTerminos de busqueda: \"{{ $('Merge1').item.json.retrieval.searchTerms.join(', ') }}\"\nRespuesta validada del RAG Agent: {{ JSON.stringify($json.output || $json) }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Eres un asistente de explicacion legal para Derecho de Familia peruano. Tu tarea es transformar la respuesta RAG en una orientacion legal clara, amable, personalizada y explicable para usuarios en Peru. Usa el historial persistido reciente enviado en el prompt para recordar solicitudes previas, hechos generales ya mencionados y continuidad del caso. No uses la memoria interna de n8n como fuente de verdad.\n\nDevuelve siempre un objeto con answer, citations y citationSupportStatus.\n\nFormato de answer:\n- Usa Markdown seguro cuando ayude a leer mejor: titulos, listas, negritas moderadas y parrafos cortos.\n- La estructura no es obligatoria ni debe repetirse mecanicamente. Elige encabezados y orden segun la pregunta del usuario.\n- La respuesta debe sentirse escrita para la situacion concreta del usuario, usando solo hechos generales del mensaje actual y del historial persistido reciente.\n- No pidas datos personales sensibles; pide solo datos generales utiles.\n- Si usas informacion recordada, tratala como contexto probable y no como hecho absoluto cuando haya duda.\n\nContenido esperado cuando sea util:\n- Resume brevemente la situacion del usuario si ayuda a orientar.\n- Explica la orientacion legal en lenguaje simple, con respaldo prudente y sin inventar normas.\n- Si la evidencia recuperada es debil o no hay citas utiles, da una orientacion general prudente sin agregar secciones repetitivas ni pedir datos por defecto.\n- Da pasos preliminares y prudentes, no instrucciones absolutas.\n- Recomienda apoyo especializado cuando pueda haber riesgo, violencia, menores, urgencia o plazos.\n- Incluye un glosario breve solo si usas terminos juridicos que conviene explicar.\n\nReglas de seguridad:\n- Si la entrada RAG tiene error, esta vacia, no tiene answer, o menciona problemas con parts/candidates/content, responde de forma breve y controlada. Si no hay una pregunta familiar clara, no generes pasos ni metadatos de baja evidencia.\n- No menciones detalles tecnicos como RAG, parser, metadata, parts, candidates, modelo, flujo o webhook al usuario.\n- No incluyas una seccion de fuentes, bibliografia, enlaces, documentos usados ni citas dentro de answer. Las fuentes se muestran fuera del mensaje en la interfaz.\n- No escribas en answer avisos sobre citas debiles o ausencia de fuentes; la interfaz los muestra con citationSupportStatus.\n- citations debe devolver maximo una cita por file_url. Para cada file_url, consolida todos los fragmentos recuperados de ese mismo archivo en un solo snippet seguro.\n- snippet no debe copiar texto exacto: debe ser un resumen breve en espanol de por que ese archivo importa para la orientacion. No incluyas datos personales sensibles que aparezcan en jurisprudencia u otros documentos.\n- Puedes limpiar file_name y snippet para corregir caracteres rotos de espanol como Codigo -> Codigo, pension -> pension, nino -> nino, y comillas/guiones mojibake.\n- No cambies file_url ni inventes file_name, file_url o fuentes. Si no hay citas validas, usa [].\n\nCampos estructurados obligatorios:\n- citationSupportStatus: preserva exactamente el valor recibido del RAG Agent: GOOD, WEAK o NONE.\n- confidenceStatus: HIGH solo si citationSupportStatus es GOOD y hay contexto suficiente; MEDIUM si hay orientacion razonable con alguna incertidumbre o citas WEAK; LOW si faltan datos importantes, citationSupportStatus es NONE, o la evidencia es debil.\n- confidenceReason: usa null salvo que exista una razon especifica no repetitiva que deba persistirse para auditoria.\n- nextSteps: 0 a 4 siguientes pasos concretos solo para consultas legales dentro del alcance; usa [] para saludos, mensajes fuera de alcance, falta de pregunta legal clara o cuando los pasos serian boilerplate.\n- specialistSupportRecommended: true cuando haya violencia, urgencia, menores en riesgo, plazos, conflicto alto, o necesidad de estrategia/proceso formal.\n- Si falta un dato indispensable, haz una sola pregunta aclaratoria dentro de answer; no agregues listas ni boilerplate de datos faltantes."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1152,
        1760
      ],
      "id": "c1450c8f-870f-4749-97be-0f3e12c154f7",
      "name": "XAI Agent",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000
    }
  ],
  "pinData": {},
  "connections": {
    "Merge1": {
      "main": [
        [
          {
            "node": "Prepare RAG Agent Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Parser Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Parser Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parser Agent": {
      "main": [
        [
          {
            "node": "If Relevant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Parser Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get FileStore Name1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Retrieval Metadata": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If Relevant": {
      "main": [
        [
          {
            "node": "Map Retrieval Metadata",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get FileStore Name1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond without RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XAI Agent": {
      "main": [
        [
          {
            "node": "Respond with XAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model XAI": {
      "ai_languageModel": [
        [
          {
            "node": "XAI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "XAI Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "XAI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SearchStore": {
      "ai_tool": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Prepare RAG Agent Input": {
      "main": [
        [
          {
            "node": "RAG Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG Agent": {
      "main": [
        [
          {
            "node": "XAI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e967c09d-9108-4dbb-8400-0f91c4d41c46",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b4fe1b7f55c924806604a2431485ada3cf45cd4c8e6a1134735f55424b9bdf63"
  },
  "id": "zrMqCWRq1V6lsI7i",
  "tags": []
}
