n8n/workflows/Upload To Gemini File Search.json
{
  "name": "Upload To Gemini File Search",
  "nodes": [
    {
      "parameters": {},
      "id": "9de0c708-4d6e-4090-92f9-a57727b27ea8",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -10800,
        -304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "store-display-name",
              "name": "fileSearchStoreDisplayName",
              "value": "Family Law",
              "type": "string"
            },
            {
              "id": "create-store",
              "name": "createStoreIfMissing",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "upload-log-folder",
              "name": "uploadedLogFolderId",
              "value": "15lNZHYElC11E4OdDf92EEwOyaNNlJfz9",
              "type": "string"
            },
            {
              "id": "errors-folder",
              "name": "errorsFolderId",
              "value": "1hT5RhGxvarh4WUpj9lna_3uxCE8Ej_DS",
              "type": "string"
            },
            {
              "id": "processed-markdown-folder",
              "name": "processedMarkdownFolderId",
              "value": "REPLACE_WITH_PROCESSED_MARKDOWN_FOLDER_ID",
              "type": "string"
            },
            {
              "id": "processed-metadata-folder",
              "name": "processedMetadataFolderId",
              "value": "REPLACE_WITH_PROCESSED_METADATA_FOLDER_ID",
              "type": "string"
            },
            {
              "id": "admin-fuente",
              "name": "adminFuenteOverride",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6c280548-8aff-436d-86ca-383b0c36416c",
      "name": "Edit Upload Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -10576,
        -304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://processing-api:8000/file-search-stores/resolve",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { display_name: $json.fileSearchStoreDisplayName, create_if_missing: $json.createStoreIfMissing } }}",
        "options": {}
      },
      "id": "47053222-d769-4fc8-a3a9-f9c1052852c4",
      "name": "API - Resolve File Search Store",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -10352,
        -304
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "markdown-folder",
              "name": "markdownFolderId",
              "value": "={{ $('Edit Upload Config').item.json.markdownFolderId }}",
              "type": "string"
            },
            {
              "id": "metadata-folder",
              "name": "metadataFolderId",
              "value": "={{ $('Edit Upload Config').item.json.metadataFolderId }}",
              "type": "string"
            },
            {
              "id": "uploaded-folder",
              "name": "uploadedLogFolderId",
              "value": "={{ $('Edit Upload Config').item.json.uploadedLogFolderId }}",
              "type": "string"
            },
            {
              "id": "errors-folder",
              "name": "errorsFolderId",
              "value": "={{ $('Edit Upload Config').item.json.errorsFolderId }}",
              "type": "string"
            },
            {
              "id": "processed-markdown-folder",
              "name": "processedMarkdownFolderId",
              "value": "={{ $('Edit Upload Config').item.json.processedMarkdownFolderId }}",
              "type": "string"
            },
            {
              "id": "processed-metadata-folder",
              "name": "processedMetadataFolderId",
              "value": "={{ $('Edit Upload Config').item.json.processedMetadataFolderId }}",
              "type": "string"
            },
            {
              "id": "admin-fuente",
              "name": "adminFuenteOverride",
              "value": "={{ $('Edit Upload Config').item.json.adminFuenteOverride || '' }}",
              "type": "string"
            },
            {
              "id": "store-name",
              "name": "fileSearchStoreName",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "store-display",
              "name": "fileSearchStoreDisplayName",
              "value": "={{ $json.display_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b0e1af87-af25-4ea3-ae90-b8d1c75cbab7",
      "name": "Set Resolved Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -10144,
        -304
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "=",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "16GIhS4LyWlLjo6zHPE6AquP1sWnDDm1e",
            "mode": "list",
            "cachedResultName": "output/markdown",
            "cachedResultUrl": "https://drive.google.com/drive/folders/16GIhS4LyWlLjo6zHPE6AquP1sWnDDm1e"
          }
        },
        "options": {}
      },
      "id": "656814ef-8485-4e58-bb74-818443573bde",
      "name": "Google Drive - List Markdown",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -9920,
        -304
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "euWzPM0tLCL2D9c0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "962ea932-a882-484a-8d5f-b3656303b63c",
      "name": "Loop Over Markdown Files",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -9712,
        -304
      ]
    },
    {
      "parameters": {
        "jsCode": "const config = $('Set Resolved Config').item.json;\nconst mdName = $json.name;\nconst baseName = mdName.replace(/\\.md$/i, '');\nreturn [{\n  json: {\n    markdownFileId: $json.id,\n    mdName,\n    baseName,\n    metadataName: `${baseName}.metadata.json`,\n    fileSearchStoreName: config.fileSearchStoreName,\n    fileSearchStoreDisplayName: config.fileSearchStoreDisplayName,\n    metadataFolderId: config.metadataFolderId,\n    uploadedLogFolderId: config.uploadedLogFolderId,\n    errorsFolderId: config.errorsFolderId,\n    processedMarkdownFolderId: config.processedMarkdownFolderId,\n    processedMetadataFolderId: config.processedMetadataFolderId,\n    adminFuenteOverride: config.adminFuenteOverride\n  }\n}];"
      },
      "id": "9ae99fb8-e9cf-45b6-a5d6-355dc077601a",
      "name": "Derive Metadata Name",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9392,
        -304
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1RKgIVvqg1tIGvp2ta-ElOb3p8F-82oXU",
            "mode": "list",
            "cachedResultName": "output/metadata",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1RKgIVvqg1tIGvp2ta-ElOb3p8F-82oXU"
          }
        },
        "options": {}
      },
      "id": "a7b3e0c2-636a-43d3-863a-96414c747ce1",
      "name": "Google Drive - Find Metadata",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -9136,
        -304
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "euWzPM0tLCL2D9c0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "metadata-found",
              "leftValue": "={{ !!$json.id }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a2a54c2d-bd2d-4f55-9a32-6f1cbe0fb09d",
      "name": "IF - Metadata Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -8912,
        -304
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "metadataFile"
        }
      },
      "id": "892ebbe2-49f1-4880-9095-4dddf786a21a",
      "name": "Google Drive - Download Metadata",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -8688,
        -400
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "euWzPM0tLCL2D9c0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const pair = $('Derive Metadata Name').item.json;\nconst metadataBuffer = await this.helpers.getBinaryDataBuffer(0, 'metadataFile');\nconst metadata = JSON.parse(metadataBuffer.toString('utf8'));\nif (pair.adminFuenteOverride && String(pair.adminFuenteOverride).trim()) {\n  metadata.fuente = String(pair.adminFuenteOverride).trim();\n}\nreturn [{ json: { ...pair, metadataFileId: $json.id, metadata } }];"
      },
      "id": "49e18fe1-ff8f-4cf7-b307-c48c77eb0526",
      "name": "Prepare Metadata Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8464,
        -400
      ]
    },
    {
      "parameters": {
        "jsCode": "const resumeUrl = typeof $execution !== 'undefined' ? $execution.resumeUrl : undefined;\nconsole.log(`Metadata review form for ${$json.mdName}: ${resumeUrl || 'resumeUrl unavailable in this node context'}`);\nreturn $input.all();"
      },
      "id": "c438b3d8-51dc-4276-a98f-7ae005a7f6e1",
      "name": "Log Review Form URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8352,
        -400
      ]
    },
    {
      "parameters": {
        "resume": "form",
        "formTitle": "Review Metadata Before Gemini Upload",
        "formDescription": "=Edit the metadata and submit to continue this same workflow execution.\n\nThe Markdown File name is: {{ $json.mdName }}\nAnd its being uploaded to: {{ $json.fileSearchStoreDisplayName }}",
        "formFields": {
          "values": [
            {
              "fieldName": "markdownFileId",
              "fieldType": "hiddenField",
              "fieldValue": "={{ $json.markdownFileId }}"
            },
            {
              "fieldName": "metadataFileId",
              "fieldType": "hiddenField",
              "fieldValue": "={{ $json.metadataFileId }}"
            },
            {
              "fieldName": "mdName",
              "fieldType": "hiddenField",
              "fieldValue": "={{ $json.mdName }}"
            },
            {
              "fieldName": "baseName",
              "fieldType": "hiddenField",
              "fieldValue": "={{ $json.baseName }}"
            },
            {
              "fieldName": "fileSearchStoreName",
              "fieldType": "hiddenField",
              "fieldValue": "={{ $json.fileSearchStoreName }}"
            },
            {
              "fieldName": "uploadedLogFolderId",
              "fieldType": "hiddenField",
              "fieldValue": "={{ $json.uploadedLogFolderId }}"
            },
            {
              "fieldName": "errorsFolderId",
              "fieldType": "hiddenField",
              "fieldValue": "={{ $json.errorsFolderId }}"
            },
            {
              "fieldName": "processedMarkdownFolderId",
              "fieldType": "hiddenField",
              "fieldValue": "={{ $json.processedMarkdownFolderId }}"
            },
            {
              "fieldName": "processedMetadataFolderId",
              "fieldType": "hiddenField",
              "fieldValue": "={{ $json.processedMetadataFolderId }}"
            },
            {
              "fieldLabel": "titulo",
              "defaultValue": "={{ $json.metadata.titulo || '' }}"
            },
            {
              "fieldLabel": "identificador",
              "defaultValue": "={{ $json.metadata.identificador || '' }}"
            },
            {
              "fieldLabel": "entidad",
              "defaultValue": "={{ $json.metadata.entidad || '' }}"
            },
            {
              "fieldLabel": "fecha",
              "defaultValue": "={{ $json.metadata.fecha || '' }}"
            },
            {
              "fieldLabel": "materia",
              "defaultValue": "={{ $json.metadata.materia || '' }}"
            },
            {
              "fieldLabel": "expediente",
              "defaultValue": "={{ $json.metadata.expediente || '' }}"
            },
            {
              "fieldLabel": "articulo",
              "defaultValue": "={{ $json.metadata.articulo || '' }}"
            },
            {
              "fieldLabel": "norma",
              "defaultValue": "={{ $json.metadata.norma || '' }}"
            },
            {
              "fieldLabel": "pleno",
              "defaultValue": "={{ $json.metadata.pleno || '' }}"
            },
            {
              "fieldLabel": "protocolo",
              "defaultValue": "={{ $json.metadata.protocolo || '' }}"
            },
            {
              "fieldLabel": "Fuente",
              "placeholder": "URL, repositorio u origen documental",
              "defaultValue": "={{ $json.metadata.fuente || '' }}"
            },
            {
              "fieldLabel": "categoriasJSON",
              "fieldType": "textarea",
              "placeholder": "[{\"categoria\":\"Generales\",\"subcategorias\":[\"Otros\"]}]",
              "defaultValue": "={{ JSON.stringify($json.metadata.categorias || [{ categoria: 'Generales', subcategorias: ['Otros'] }], null, 2) }}",
              "requiredField": true
            },
            {
              "fieldLabel": "confidence",
              "fieldType": "number",
              "defaultValue": "={{ $json.metadata.confidence || 0.5 }}"
            },
            {
              "fieldLabel": "observaciones",
              "fieldType": "textarea",
              "defaultValue": "={{ $json.metadata.observaciones || '' }}"
            },
            {
              "fieldLabel": "uploadDecision",
              "fieldType": "dropdown",
              "defaultValue": "upload",
              "fieldOptions": {
                "values": [
                  {
                    "option": "upload"
                  },
                  {
                    "option": "skip"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "6a0cc4c1-b91a-4f54-bcca-d51ddc42662b",
      "name": "Wait - Metadata Review Form",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -8256,
        -400
      ],
      "webhookId": "metadata-review"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "should-upload",
              "leftValue": "={{ $json['uploadDecision'] }}",
              "rightValue": "upload",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6c531da0-6350-43cc-a572-751c9a9f1170",
      "name": "IF - Upload Decision",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -8032,
        -400
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.markdownFileId }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "markdownFile"
        }
      },
      "id": "15e093dd-16e8-4d85-aef7-123613705ee3",
      "name": "Google Drive - Download Markdown",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -7808,
        -512
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "euWzPM0tLCL2D9c0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const form = $('Wait - Metadata Review Form').first().json;\nconst reviewed = $('Prepare Metadata Review').first().json.metadata || {};\nconst markdownBuffer = await this.helpers.getBinaryDataBuffer(0, 'markdownFile');\nconst emptyToNull = (value) => value === undefined || value === null || String(value).trim() === '' ? null : String(value).trim();\nconst formValue = (...keys) => {\n  for (const key of keys) {\n    if (form[key] !== undefined && form[key] !== null && String(form[key]).trim() !== '') {\n      return form[key];\n    }\n  }\n  return undefined;\n};\nconst metadataValue = (key, ...aliases) => emptyToNull(formValue(key, ...aliases) ?? reviewed[key]);\nlet categorias;\ntry {\n  const categoriasRaw = formValue('categoriasJSON', 'categoriasJson', 'CategoriasJSON') ?? JSON.stringify(reviewed.categorias || []);\n  categorias = JSON.parse(categoriasRaw || '[]');\n} catch (error) {\n  throw new Error(`Categorias JSON invalido: ${error.message}`);\n}\nif (!Array.isArray(categorias) || categorias.length === 0) {\n  throw new Error('Categorias JSON debe ser un arreglo con al menos una categoria');\n}\nconst confidenceRaw = formValue('confidence', 'Confidence') ?? reviewed.confidence ?? 0.5;\nconst confidence = Number(confidenceRaw);\nif (!Number.isFinite(confidence)) {\n  throw new Error(`confidence debe ser numerico: ${confidenceRaw}`);\n}\nconst metadata = {\n  titulo: metadataValue('titulo', 'Titulo', 'Título'),\n  identificador: metadataValue('identificador', 'Identificador'),\n  entidad: metadataValue('entidad', 'Entidad'),\n  fecha: metadataValue('fecha', 'Fecha'),\n  materia: metadataValue('materia', 'Materia'),\n  expediente: metadataValue('expediente', 'Expediente'),\n  articulo: metadataValue('articulo', 'Articulo', 'Artículo'),\n  norma: metadataValue('norma', 'Norma'),\n  pleno: metadataValue('pleno', 'Pleno'),\n  protocolo: metadataValue('protocolo', 'Protocolo'),\n  fuente: metadataValue('fuente', 'Fuente', 'source'),\n  categorias,\n  confidence,\n  observaciones: metadataValue('observaciones', 'Observaciones')\n};\nreturn [{\n  json: {\n    filename: form.mdName,\n    baseName: form.baseName,\n    markdownFileId: form.markdownFileId,\n    metadataFileId: form.metadataFileId,\n    markdown: markdownBuffer.toString('utf8'),\n    metadata,\n    file_search_store_name: form.fileSearchStoreName,\n    create_store_if_missing: false,\n    wait_until_done: true,\n    max_wait_seconds: 900,\n    uploadedLogFolderId: form.uploadedLogFolderId,\n    errorsFolderId: form.errorsFolderId,\n    processedMarkdownFolderId: form.processedMarkdownFolderId,\n    processedMetadataFolderId: form.processedMetadataFolderId\n  }\n}];"
      },
      "id": "2162982e-b65b-49fa-9c1d-7635e4010368",
      "name": "Prepare Upload Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7584,
        -512
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://processing-api:8000/upload-gemini-file-search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "a8e6383d-672d-4222-8d5f-20979621dbb6",
      "name": "API - Upload Gemini File Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -7376,
        -512
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const payload = $('Prepare Upload Payload').item.json;\nconst result = { filename: payload.filename, metadata: payload.metadata, upload: $json, uploaded_at: new Date().toISOString() };\nconst item = { json: { logName: `${payload.baseName}.gemini-upload.json`, result, uploadedLogFolderId: payload.uploadedLogFolderId }, binary: {} };\nitem.binary.log = await this.helpers.prepareBinaryData(Buffer.from(JSON.stringify(result, null, 2), 'utf8'), item.json.logName, 'application/json');\nreturn [item];"
      },
      "id": "6e758c2b-4950-4880-99c3-b396e2643b9a",
      "name": "Prepare Upload Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7152,
        -592
      ]
    },
    {
      "parameters": {
        "inputDataFieldName": "log",
        "name": "={{ $json.logName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.uploadedLogFolderId }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "1ef76178-996c-4e1a-a523-43ea1c7d9b5e",
      "name": "Google Drive - Upload Log",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -6928,
        -592
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "euWzPM0tLCL2D9c0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Prepare Upload Payload').item.json.markdownFileId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Prepare Upload Payload').item.json.processedMarkdownFolderId }}",
          "mode": "id",
          "cachedResultName": "processed/markdown"
        }
      },
      "id": "d621a595-26cf-470c-bc8e-9327062fe5c8",
      "name": "Google Drive - Move Markdown To Processed",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -6704,
        -592
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "euWzPM0tLCL2D9c0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Prepare Upload Payload').item.json.metadataFileId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Prepare Upload Payload').item.json.processedMetadataFolderId }}",
          "mode": "id",
          "cachedResultName": "processed/metadata"
        }
      },
      "id": "f08f136d-a44d-4180-a3d3-d09a7b5fdb23",
      "name": "Google Drive - Move Metadata To Processed",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -6480,
        -592
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "euWzPM0tLCL2D9c0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const source = $('Wait - Metadata Review Form').item?.json || $('Derive Metadata Name').item?.json || {};\nconst record = { filename: source.mdName || 'unknown.md', expected_metadata: source.metadataName || null, error: $json, happened_at: new Date().toISOString() };\nconst safeName = (source.baseName || 'unknown').replace(/[^a-zA-Z0-9_.-]+/g, '-');\nconst item = { json: { errorName: `${safeName}.gemini-upload.error.json`, record, errorsFolderId: source.errorsFolderId || $('Set Resolved Config').item.json.errorsFolderId }, binary: {} };\nitem.binary.error = await this.helpers.prepareBinaryData(Buffer.from(JSON.stringify(record, null, 2), 'utf8'), item.json.errorName, 'application/json');\nreturn [item];"
      },
      "id": "cf7e9a32-59b2-4d80-a387-f8303016f064",
      "name": "Prepare Upload Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7152,
        -304
      ]
    },
    {
      "parameters": {
        "inputDataFieldName": "error",
        "name": "={{ $json.errorName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.errorsFolderId }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "119ceccf-43fc-426a-a44c-c8d52edd778c",
      "name": "Google Drive - Upload Error",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -6928,
        -304
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "euWzPM0tLCL2D9c0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const form = $('Wait - Metadata Review Form').item.json;\nconst result = { filename: form.mdName, decision: 'skip', skipped_at: new Date().toISOString() };\nconst item = { json: { logName: `${form.baseName}.gemini-skip.json`, result, uploadedLogFolderId: form.uploadedLogFolderId }, binary: {} };\nitem.binary.log = await this.helpers.prepareBinaryData(Buffer.from(JSON.stringify(result, null, 2), 'utf8'), item.json.logName, 'application/json');\nreturn [item];"
      },
      "id": "87e42f20-2eb8-4109-ae39-2fcb5cb79328",
      "name": "Prepare Skip Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7808,
        -240
      ]
    },
    {
      "parameters": {
        "inputDataFieldName": "log",
        "name": "={{ $json.logName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.uploadedLogFolderId }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "4e8a8fdf-9d73-439c-a667-0c52038be146",
      "name": "Google Drive - Upload Skip Log",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -7568,
        -240
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "euWzPM0tLCL2D9c0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const pair = $('Derive Metadata Name').item?.json || {};\nconst record = { filename: pair.mdName || 'unknown.md', expected_metadata: pair.metadataName || null, error: $json, happened_at: new Date().toISOString() };\nconst safeName = (pair.baseName || 'unknown').replace(/[^a-zA-Z0-9_.-]+/g, '-');\nconst item = { json: { errorName: `${safeName}.gemini-review.error.json`, record, errorsFolderId: pair.errorsFolderId || $('Set Resolved Config').item.json.errorsFolderId }, binary: {} };\nitem.binary.error = await this.helpers.prepareBinaryData(Buffer.from(JSON.stringify(record, null, 2), 'utf8'), item.json.errorName, 'application/json');\nreturn [item];"
      },
      "id": "d3c0160d-9c13-49e7-ae17-e761c495d91a",
      "name": "Prepare Missing Metadata Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8704,
        -16
      ]
    },
    {
      "parameters": {
        "name": "={{ $json.errorName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.errorsFolderId }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "21f20bad-ead2-4b34-b82f-9610c6344bce",
      "name": "Google Drive - Upload Missing Metadata Error",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -8480,
        -16
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "euWzPM0tLCL2D9c0",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Edit Upload Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Upload Config": {
      "main": [
        [
          {
            "node": "API - Resolve File Search Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API - Resolve File Search Store": {
      "main": [
        [
          {
            "node": "Set Resolved Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Resolved Config": {
      "main": [
        [
          {
            "node": "Google Drive - List Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive - List Markdown": {
      "main": [
        [
          {
            "node": "Loop Over Markdown Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Markdown Files": {
      "main": [
        [],
        [
          {
            "node": "Derive Metadata Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Derive Metadata Name": {
      "main": [
        [
          {
            "node": "Google Drive - Find Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive - Find Metadata": {
      "main": [
        [
          {
            "node": "IF - Metadata Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Metadata Found": {
      "main": [
        [
          {
            "node": "Google Drive - Download Metadata",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Missing Metadata Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive - Download Metadata": {
      "main": [
        [
          {
            "node": "Prepare Metadata Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Metadata Review": {
      "main": [
        [
          {
            "node": "Log Review Form URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Review Form URL": {
      "main": [
        [
          {
            "node": "Wait - Metadata Review Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - Metadata Review Form": {
      "main": [
        [
          {
            "node": "IF - Upload Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Upload Decision": {
      "main": [
        [
          {
            "node": "Google Drive - Download Markdown",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Skip Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive - Download Markdown": {
      "main": [
        [
          {
            "node": "Prepare Upload Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Upload Payload": {
      "main": [
        [
          {
            "node": "API - Upload Gemini File Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API - Upload Gemini File Search": {
      "main": [
        [
          {
            "node": "Prepare Upload Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Upload Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Upload Log": {
      "main": [
        [
          {
            "node": "Google Drive - Upload Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive - Upload Log": {
      "main": [
        [
          {
            "node": "Google Drive - Move Markdown To Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive - Move Markdown To Processed": {
      "main": [
        [
          {
            "node": "Google Drive - Move Metadata To Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive - Move Metadata To Processed": {
      "main": [
        [
          {
            "node": "Loop Over Markdown Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Upload Error": {
      "main": [
        [
          {
            "node": "Google Drive - Upload Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive - Upload Error": {
      "main": [
        [
          {
            "node": "Loop Over Markdown Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Skip Log": {
      "main": [
        [
          {
            "node": "Google Drive - Upload Skip Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive - Upload Skip Log": {
      "main": [
        [
          {
            "node": "Loop Over Markdown Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Missing Metadata Error": {
      "main": [
        [
          {
            "node": "Google Drive - Upload Missing Metadata Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive - Upload Missing Metadata Error": {
      "main": [
        [
          {
            "node": "Loop Over Markdown Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8f8dcd43-ead5-44b4-9635-64324571f546",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b4fe1b7f55c924806604a2431485ada3cf45cd4c8e6a1134735f55424b9bdf63"
  },
  "id": "1VABCl5RCrmJ9d58",
  "tags": []
}
