n8n/workflows/Upload To Gemini File Search.json
{
  "name": "Upload To Gemini File Search",
  "nodes": [
    {
      "parameters": {},
      "id": "74f86c60-9fe6-40a9-8a01-894bbfc56be6",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -19104,
        -928
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "store-display-name",
              "name": "fileSearchStoreDisplayName",
              "value": "Family Law",
              "type": "string"
            },
            {
              "id": "create-store",
              "name": "createStoreIfMissing",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "markdown-folder",
              "name": "markdownFolderId",
              "value": "16GIhS4LyWlLjo6zHPE6AquP1sWnDDm1e",
              "type": "string"
            },
            {
              "id": "metadata-folder",
              "name": "metadataFolderId",
              "value": "1RKgIVvqg1tIGvp2ta-ElOb3p8F-82oXU",
              "type": "string"
            },
            {
              "id": "upload-log-folder",
              "name": "uploadedLogFolderId",
              "value": "15lNZHYElC11E4OdDf92EEwOyaNNlJfz9",
              "type": "string"
            },
            {
              "id": "errors-folder",
              "name": "errorsFolderId",
              "value": "1hT5RhGxvarh4WUpj9lna_3uxCE8Ej_DS",
              "type": "string"
            },
            {
              "id": "processed-markdown-folder",
              "name": "processedMarkdownFolderId",
              "value": "1jzuqeiGSqZJcPvs8Rs3xguSadOX4iiRh",
              "type": "string"
            },
            {
              "id": "processed-metadata-folder",
              "name": "processedMetadataFolderId",
              "value": "1uznXrc5injBILvd1peK8dHGbJpWcZkij",
              "type": "string"
            },
            {
              "id": "admin-fuente",
              "name": "adminFuenteOverride",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "34a64fd2-bef0-4742-ab1b-58afd5e1ab1e",
      "name": "Edit Upload Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -18880,
        -928
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://processing-api:8000/file-search-stores/resolve",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { display_name: $json.fileSearchStoreDisplayName, create_if_missing: $json.createStoreIfMissing } }}",
        "options": {}
      },
      "id": "b3d9b4c3-55a6-4b97-9591-faeed5af1b8d",
      "name": "API - Resolve File Search Store",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -18656,
        -928
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "markdown-folder",
              "name": "markdownFolderId",
              "value": "={{ $('Edit Upload Config').item.json.markdownFolderId }}",
              "type": "string"
            },
            {
              "id": "metadata-folder",
              "name": "metadataFolderId",
              "value": "={{ $('Edit Upload Config').item.json.metadataFolderId }}",
              "type": "string"
            },
            {
              "id": "uploaded-folder",
              "name": "uploadedLogFolderId",
              "value": "={{ $('Edit Upload Config').item.json.uploadedLogFolderId }}",
              "type": "string"
            },
            {
              "id": "errors-folder",
              "name": "errorsFolderId",
              "value": "={{ $('Edit Upload Config').item.json.errorsFolderId }}",
              "type": "string"
            },
            {
              "id": "processed-markdown-folder",
              "name": "processedMarkdownFolderId",
              "value": "={{ $('Edit Upload Config').item.json.processedMarkdownFolderId }}",
              "type": "string"
            },
            {
              "id": "processed-metadata-folder",
              "name": "processedMetadataFolderId",
              "value": "={{ $('Edit Upload Config').item.json.processedMetadataFolderId }}",
              "type": "string"
            },
            {
              "id": "admin-fuente",
              "name": "adminFuenteOverride",
              "value": "={{ $('Edit Upload Config').item.json.adminFuenteOverride || '' }}",
              "type": "string"
            },
            {
              "id": "store-name",
              "name": "fileSearchStoreName",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "store-display",
              "name": "fileSearchStoreDisplayName",
              "value": "={{ $json.display_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0d557099-467a-46f5-a704-f10d01cacf93",
      "name": "Set Resolved Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -18448,
        -928
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "name",
        "queryString": ".md",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $('Set Resolved Config').item.json.markdownFolderId }}",
            "mode": "id",
            "cachedResultName": "output/markdown",
            "cachedResultUrl": "https://drive.google.com/drive/folders/16GIhS4LyWlLjo6zHPE6AquP1sWnDDm1e"
          }
        },
        "options": {}
      },
      "id": "e4145e37-e12f-4f09-898b-1efb32a572a3",
      "name": "Google Drive - List Markdown",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -18224,
        -928
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "euWzPM0tLCL2D9c0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "88158307-f36a-441f-bb48-652473d25d0a",
      "name": "Loop Over Markdown Files",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -18016,
        -928
      ]
    },
    {
      "parameters": {
        "jsCode": "const config = $('Set Resolved Config').item.json;\nconst mdName = $json.name;\nconst baseName = mdName.replace(/\\.md$/i, '');\nreturn [{\n  json: {\n    markdownFileId: $json.id,\n    mdName,\n    baseName,\n    metadataName: `${baseName}.metadata.json`,\n    fileSearchStoreName: config.fileSearchStoreName,\n    fileSearchStoreDisplayName: config.fileSearchStoreDisplayName,\n    metadataFolderId: config.metadataFolderId,\n    uploadedLogFolderId: config.uploadedLogFolderId,\n    errorsFolderId: config.errorsFolderId,\n    processedMarkdownFolderId: config.processedMarkdownFolderId,\n    processedMetadataFolderId: config.processedMetadataFolderId,\n    adminFuenteOverride: config.adminFuenteOverride\n  }\n}];"
      },
      "id": "13b495a1-c437-42f4-9c43-5c176d1222c4",
      "name": "Derive Metadata Name",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -17696,
        -928
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "={{ \"name = '\" + $json.metadataName.replace(/\\\\/g, \"\\\\\\\\\").replace(/'/g, \"\\\\'\") + \"'\" }}",
        "returnAll": false,
        "limit": 1,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.metadataFolderId }}",
            "mode": "id",
            "cachedResultName": "output/metadata",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1RKgIVvqg1tIGvp2ta-ElOb3p8F-82oXU"
          }
        },
        "options": {}
      },
      "id": "ca2b9ff5-fbd0-4f59-b3ed-978271e170d5",
      "name": "Google Drive - Find Metadata",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -17440,
        -928
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "euWzPM0tLCL2D9c0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "metadata-found",
              "leftValue": "={{ !!$json.id }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3c06717c-52a6-4761-a37b-843610d2c285",
      "name": "IF - Metadata Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -17216,
        -928
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "metadataFile"
        }
      },
      "id": "07c040b0-0e17-4bcd-88cc-9f5be7d8f18a",
      "name": "Google Drive - Download Metadata",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -16992,
        -1024
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "euWzPM0tLCL2D9c0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const pair = $('Derive Metadata Name').item.json;\nconst metadataBuffer = await this.helpers.getBinaryDataBuffer(0, 'metadataFile');\nconst metadata = JSON.parse(metadataBuffer.toString('utf8'));\nif (pair.adminFuenteOverride && String(pair.adminFuenteOverride).trim()) {\n  metadata.fuente = String(pair.adminFuenteOverride).trim();\n}\nreturn [{ json: { ...pair, metadataFileId: $json.id, metadata } }];"
      },
      "id": "765df151-1afc-4359-8996-9276c16f5d82",
      "name": "Prepare Metadata Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16800,
        -1024
      ]
    },
    {
      "parameters": {
        "jsCode": "const resumeUrl = typeof $execution !== 'undefined' ? $execution.resumeUrl : undefined;\nconsole.log(`Metadata review form for ${$json.mdName}: ${resumeUrl || 'resumeUrl unavailable in this node context'}`);\nreturn $input.all();"
      },
      "id": "14f08b0a-d6e0-4b56-8b99-181d8d165db5",
      "name": "Log Review Form URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16624,
        -1024
      ]
    },
    {
      "parameters": {
        "resume": "form",
        "formTitle": "Review Metadata Before Gemini Upload",
        "formDescription": "=Edit the metadata and submit to continue this same workflow execution.\n\nThe Markdown File name is: {{ $json.mdName }}\nAnd its being uploaded to: {{ $json.fileSearchStoreDisplayName }}",
        "formFields": {
          "values": [
            {
              "fieldName": "markdownFileId",
              "fieldType": "hiddenField",
              "fieldValue": "={{ $json.markdownFileId }}"
            },
            {
              "fieldName": "metadataFileId",
              "fieldType": "hiddenField",
              "fieldValue": "={{ $json.metadataFileId }}"
            },
            {
              "fieldName": "mdName",
              "fieldType": "hiddenField",
              "fieldValue": "={{ $json.mdName }}"
            },
            {
              "fieldName": "baseName",
              "fieldType": "hiddenField",
              "fieldValue": "={{ $json.baseName }}"
            },
            {
              "fieldName": "fileSearchStoreName",
              "fieldType": "hiddenField",
              "fieldValue": "={{ $json.fileSearchStoreName }}"
            },
            {
              "fieldName": "uploadedLogFolderId",
              "fieldType": "hiddenField",
              "fieldValue": "={{ $json.uploadedLogFolderId }}"
            },
            {
              "fieldName": "errorsFolderId",
              "fieldType": "hiddenField",
              "fieldValue": "={{ $json.errorsFolderId }}"
            },
            {
              "fieldName": "processedMarkdownFolderId",
              "fieldType": "hiddenField",
              "fieldValue": "={{ $json.processedMarkdownFolderId }}"
            },
            {
              "fieldName": "processedMetadataFolderId",
              "fieldType": "hiddenField",
              "fieldValue": "={{ $json.processedMetadataFolderId }}"
            },
            {
              "fieldLabel": "titulo",
              "defaultValue": "={{ $json.metadata.titulo || '' }}"
            },
            {
              "fieldLabel": "identificador",
              "defaultValue": "={{ $json.metadata.identificador || '' }}"
            },
            {
              "fieldLabel": "entidad",
              "defaultValue": "={{ $json.metadata.entidad || '' }}"
            },
            {
              "fieldLabel": "fecha",
              "defaultValue": "={{ $json.metadata.fecha || '' }}"
            },
            {
              "fieldLabel": "materia",
              "defaultValue": "={{ $json.metadata.materia || '' }}"
            },
            {
              "fieldLabel": "expediente",
              "defaultValue": "={{ $json.metadata.expediente || '' }}"
            },
            {
              "fieldLabel": "articulo",
              "defaultValue": "={{ $json.metadata.articulo || '' }}"
            },
            {
              "fieldLabel": "norma",
              "defaultValue": "={{ $json.metadata.norma || '' }}"
            },
            {
              "fieldLabel": "pleno",
              "defaultValue": "={{ $json.metadata.pleno || '' }}"
            },
            {
              "fieldLabel": "protocolo",
              "defaultValue": "={{ $json.metadata.protocolo || '' }}"
            },
            {
              "fieldLabel": "Fuente",
              "placeholder": "URL, repositorio u origen documental",
              "defaultValue": "={{ $json.metadata.fuente || '' }}"
            },
            {
              "fieldLabel": "categoriasJSON",
              "fieldType": "textarea",
              "placeholder": "[{\"categoria\":\"Generales\",\"subcategorias\":[\"Otros\"]}]",
              "defaultValue": "={{ JSON.stringify($json.metadata.categorias || [{ categoria: 'Generales', subcategorias: ['Otros'] }], null, 2) }}",
              "requiredField": true
            },
            {
              "fieldLabel": "confidence",
              "fieldType": "number",
              "defaultValue": "={{ $json.metadata.confidence || 0.5 }}"
            },
            {
              "fieldLabel": "observaciones",
              "fieldType": "textarea",
              "defaultValue": "={{ $json.metadata.observaciones || '' }}"
            },
            {
              "fieldLabel": "uploadDecision",
              "fieldType": "dropdown",
              "defaultValue": "upload",
              "fieldOptions": {
                "values": [
                  {
                    "option": "upload"
                  },
                  {
                    "option": "skip"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "35fc6027-3221-4115-a1a2-4d71821bb687",
      "name": "Wait - Metadata Review Form",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -16432,
        -1024
      ],
      "webhookId": "metadata-review"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "should-upload",
              "leftValue": "={{ $json['uploadDecision'] }}",
              "rightValue": "upload",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e330f528-010b-4189-b500-6654dddd5075",
      "name": "IF - Upload Decision",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -16256,
        -1024
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.markdownFileId }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "markdownFile"
        }
      },
      "id": "26aa9770-207f-45f0-8164-c67702b58ba1",
      "name": "Google Drive - Download Markdown",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -16032,
        -1136
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "euWzPM0tLCL2D9c0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const form = $('Wait - Metadata Review Form').first().json;\nconst reviewed = $('Prepare Metadata Review').first().json.metadata || {};\nconst markdownBuffer = await this.helpers.getBinaryDataBuffer(0, 'markdownFile');\nconst emptyToNull = (value) => value === undefined || value === null || String(value).trim() === '' ? null : String(value).trim();\nconst formValue = (...keys) => {\n  for (const key of keys) {\n    if (form[key] !== undefined && form[key] !== null && String(form[key]).trim() !== '') {\n      return form[key];\n    }\n  }\n  return undefined;\n};\nconst metadataValue = (key, ...aliases) => emptyToNull(formValue(key, ...aliases) ?? reviewed[key]);\nlet categorias;\ntry {\n  const categoriasRaw = formValue('categoriasJSON', 'categoriasJson', 'CategoriasJSON') ?? JSON.stringify(reviewed.categorias || []);\n  categorias = JSON.parse(categoriasRaw || '[]');\n} catch (error) {\n  throw new Error(`Categorias JSON invalido: ${error.message}`);\n}\nif (!Array.isArray(categorias) || categorias.length === 0) {\n  throw new Error('Categorias JSON debe ser un arreglo con al menos una categoria');\n}\nconst confidenceRaw = formValue('confidence', 'Confidence') ?? reviewed.confidence ?? 0.5;\nconst confidence = Number(confidenceRaw);\nif (!Number.isFinite(confidence)) {\n  throw new Error(`confidence debe ser numerico: ${confidenceRaw}`);\n}\nconst metadata = {\n  titulo: metadataValue('titulo', 'Titulo', 'Título'),\n  identificador: metadataValue('identificador', 'Identificador'),\n  entidad: metadataValue('entidad', 'Entidad'),\n  fecha: metadataValue('fecha', 'Fecha'),\n  materia: metadataValue('materia', 'Materia'),\n  expediente: metadataValue('expediente', 'Expediente'),\n  articulo: metadataValue('articulo', 'Articulo', 'Artículo'),\n  norma: metadataValue('norma', 'Norma'),\n  pleno: metadataValue('pleno', 'Pleno'),\n  protocolo: metadataValue('protocolo', 'Protocolo'),\n  fuente: metadataValue('fuente', 'Fuente', 'source'),\n  categorias,\n  confidence,\n  observaciones: metadataValue('observaciones', 'Observaciones')\n};\nreturn [{\n  json: {\n    filename: form.mdName,\n    baseName: form.baseName,\n    markdownFileId: form.markdownFileId,\n    metadataFileId: form.metadataFileId,\n    markdown: markdownBuffer.toString('utf8'),\n    metadata,\n    file_search_store_name: form.fileSearchStoreName,\n    create_store_if_missing: false,\n    wait_until_done: true,\n    max_wait_seconds: 900,\n    uploadedLogFolderId: form.uploadedLogFolderId,\n    errorsFolderId: form.errorsFolderId,\n    processedMarkdownFolderId: form.processedMarkdownFolderId,\n    processedMetadataFolderId: form.processedMetadataFolderId\n  }\n}];"
      },
      "id": "243484c3-b0b6-476b-a2b5-9797f4553dc1",
      "name": "Prepare Upload Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -15808,
        -1136
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://processing-api:8000/upload-gemini-file-search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "c671a335-c28c-4ce8-8624-98076f1f202b",
      "name": "API - Upload Gemini File Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -15600,
        -1136
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const payload = $('Prepare Upload Payload').item.json;\nconst result = { filename: payload.filename, metadata: payload.metadata, upload: $json, uploaded_at: new Date().toISOString() };\nconst item = { json: { logName: `${payload.baseName}.gemini-upload.json`, result, uploadedLogFolderId: payload.uploadedLogFolderId }, binary: {} };\nitem.binary.log = await this.helpers.prepareBinaryData(Buffer.from(JSON.stringify(result, null, 2), 'utf8'), item.json.logName, 'application/json');\nreturn [item];"
      },
      "id": "36af160f-1e98-4151-aff8-87f9827ad98d",
      "name": "Prepare Upload Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -15376,
        -1216
      ]
    },
    {
      "parameters": {
        "inputDataFieldName": "log",
        "name": "={{ $json.logName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.uploadedLogFolderId }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "7beb366f-c467-4ef1-bf5a-5c6340254368",
      "name": "Google Drive - Upload Log",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -15152,
        -1216
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "euWzPM0tLCL2D9c0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Prepare Upload Payload').item.json.markdownFileId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Prepare Upload Payload').item.json.processedMarkdownFolderId }}",
          "mode": "id",
          "cachedResultName": "processed/markdown"
        }
      },
      "id": "8fe09795-4613-4129-8dcb-0a65cfc54b89",
      "name": "Google Drive - Move Markdown To Processed",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -14928,
        -1216
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "euWzPM0tLCL2D9c0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Prepare Upload Payload').item.json.metadataFileId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Prepare Upload Payload').item.json.processedMetadataFolderId }}",
          "mode": "id",
          "cachedResultName": "processed/metadata"
        }
      },
      "id": "3037fff8-224e-484e-9511-8bf9b639236c",
      "name": "Google Drive - Move Metadata To Processed",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -14704,
        -1216
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "euWzPM0tLCL2D9c0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const source = $('Wait - Metadata Review Form').item?.json || $('Derive Metadata Name').item?.json || {};\nconst record = { filename: source.mdName || 'unknown.md', expected_metadata: source.metadataName || null, error: $json, happened_at: new Date().toISOString() };\nconst safeName = (source.baseName || 'unknown').replace(/[^a-zA-Z0-9_.-]+/g, '-');\nconst item = { json: { errorName: `${safeName}.gemini-upload.error.json`, record, errorsFolderId: source.errorsFolderId || $('Set Resolved Config').item.json.errorsFolderId }, binary: {} };\nitem.binary.error = await this.helpers.prepareBinaryData(Buffer.from(JSON.stringify(record, null, 2), 'utf8'), item.json.errorName, 'application/json');\nreturn [item];"
      },
      "id": "5bd94d26-1380-4161-ba07-ad6bc0cf60ec",
      "name": "Prepare Upload Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -15376,
        -928
      ]
    },
    {
      "parameters": {
        "inputDataFieldName": "error",
        "name": "={{ $json.errorName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.errorsFolderId }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "18b11007-c60b-478c-863c-e5b0484a5867",
      "name": "Google Drive - Upload Error",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -15152,
        -928
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "euWzPM0tLCL2D9c0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const form = $('Wait - Metadata Review Form').item.json;\nconst result = { filename: form.mdName, decision: 'skip', skipped_at: new Date().toISOString() };\nconst item = { json: { logName: `${form.baseName}.gemini-skip.json`, result, uploadedLogFolderId: form.uploadedLogFolderId }, binary: {} };\nitem.binary.log = await this.helpers.prepareBinaryData(Buffer.from(JSON.stringify(result, null, 2), 'utf8'), item.json.logName, 'application/json');\nreturn [item];"
      },
      "id": "b3eafe48-ed57-4311-aada-4043ef7e34b2",
      "name": "Prepare Skip Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16032,
        -864
      ]
    },
    {
      "parameters": {
        "inputDataFieldName": "log",
        "name": "={{ $json.logName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.uploadedLogFolderId }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "bea6089d-b80d-4a49-a913-fc686481dbc1",
      "name": "Google Drive - Upload Skip Log",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -15792,
        -864
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "euWzPM0tLCL2D9c0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const pair = $('Derive Metadata Name').item?.json || {};\nconst record = { filename: pair.mdName || 'unknown.md', expected_metadata: pair.metadataName || null, error: $json, happened_at: new Date().toISOString() };\nconst safeName = (pair.baseName || 'unknown').replace(/[^a-zA-Z0-9_.-]+/g, '-');\nconst item = { json: { errorName: `${safeName}.gemini-review.error.json`, record, errorsFolderId: pair.errorsFolderId || $('Set Resolved Config').item.json.errorsFolderId }, binary: {} };\nitem.binary.error = await this.helpers.prepareBinaryData(Buffer.from(JSON.stringify(record, null, 2), 'utf8'), item.json.errorName, 'application/json');\nreturn [item];"
      },
      "id": "e9ccb897-67d1-43d7-b644-8c7cf88bbf31",
      "name": "Prepare Missing Metadata Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -17008,
        -640
      ]
    },
    {
      "parameters": {
        "inputDataFieldName": "error",
        "name": "={{ $json.errorName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.errorsFolderId }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "ee485482-046d-4036-8796-ac31061e86f5",
      "name": "Google Drive - Upload Missing Metadata Error",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -16784,
        -640
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "euWzPM0tLCL2D9c0",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Edit Upload Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Upload Config": {
      "main": [
        [
          {
            "node": "API - Resolve File Search Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API - Resolve File Search Store": {
      "main": [
        [
          {
            "node": "Set Resolved Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Resolved Config": {
      "main": [
        [
          {
            "node": "Google Drive - List Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive - List Markdown": {
      "main": [
        [
          {
            "node": "Loop Over Markdown Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Markdown Files": {
      "main": [
        [],
        [
          {
            "node": "Derive Metadata Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Derive Metadata Name": {
      "main": [
        [
          {
            "node": "Google Drive - Find Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive - Find Metadata": {
      "main": [
        [
          {
            "node": "IF - Metadata Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Metadata Found": {
      "main": [
        [
          {
            "node": "Google Drive - Download Metadata",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Missing Metadata Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive - Download Metadata": {
      "main": [
        [
          {
            "node": "Prepare Metadata Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Metadata Review": {
      "main": [
        [
          {
            "node": "Log Review Form URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Review Form URL": {
      "main": [
        [
          {
            "node": "Wait - Metadata Review Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - Metadata Review Form": {
      "main": [
        [
          {
            "node": "IF - Upload Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Upload Decision": {
      "main": [
        [
          {
            "node": "Google Drive - Download Markdown",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Skip Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive - Download Markdown": {
      "main": [
        [
          {
            "node": "Prepare Upload Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Upload Payload": {
      "main": [
        [
          {
            "node": "API - Upload Gemini File Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API - Upload Gemini File Search": {
      "main": [
        [
          {
            "node": "Prepare Upload Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Upload Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Upload Log": {
      "main": [
        [
          {
            "node": "Google Drive - Upload Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive - Upload Log": {
      "main": [
        [
          {
            "node": "Google Drive - Move Markdown To Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive - Move Markdown To Processed": {
      "main": [
        [
          {
            "node": "Google Drive - Move Metadata To Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive - Move Metadata To Processed": {
      "main": [
        [
          {
            "node": "Loop Over Markdown Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Upload Error": {
      "main": [
        [
          {
            "node": "Google Drive - Upload Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive - Upload Error": {
      "main": [
        [
          {
            "node": "Loop Over Markdown Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Skip Log": {
      "main": [
        [
          {
            "node": "Google Drive - Upload Skip Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive - Upload Skip Log": {
      "main": [
        [
          {
            "node": "Loop Over Markdown Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Missing Metadata Error": {
      "main": [
        [
          {
            "node": "Google Drive - Upload Missing Metadata Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive - Upload Missing Metadata Error": {
      "main": [
        [
          {
            "node": "Loop Over Markdown Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0e810218-b4fe-494f-988f-2b5a8bfc4ee1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b4fe1b7f55c924806604a2431485ada3cf45cd4c8e6a1134735f55424b9bdf63"
  },
  "id": "1VABCl5RCrmJ9d58",
  "tags": []
}
